
body {
    margin-top: 41px;
}

/* Home Page Starts Here */
/* Home Page - Responsive Section */

@media (min-width: 1200px) {

    .home-header,
    .home-subheader,
    .home-feature,
    .home-feature-alt,
    .home-testimonial,
    .top-footer,
    .footer-social,
    .footer-copyright {
        width: 1425px;
    }

    .navbar-header {
        width: 930px;
    }

    .navbar-nav {
        width: 495px;
    }

    .navbar-collapse > ul.loggedin{
        padding-left: 60px;
    }

    .home-header {
        height: 750px;
        padding-top: 60px;
        padding-right: 35px;
    }

    .home-header-text {
        width: 68%;
        padding: 300px 0 0 80px;
    }

    .home-header-text h1 {
        font-size: 55px;
        letter-spacing: -1px;
        margin: 0;
    }

    .header-highlight {
        font-size: 100px;
        letter-spacing: -4px;
        margin: 0;
    }

    .home-header-text h2 {
        font-size: 19px;
        line-height: 27px;
        margin: 10px 0 0 0;
    }

    a.clear-button {
        padding: 12px 45px;
        font-size: 16px;
    }

    a.filled-button {
        padding: 14px 47px;
        font-size: 16px;
    }

    .home-feature,
    .home-feature-alt {
        height: 400px;
    }

    .home-feature-text {
        padding: 75px 200px 0 25px;
    }

    .home-feature-img {
        padding: 22px 0 0 200px;
    }

    .home-feature-text-alt {
        padding: 75px 0 0 200px;
    }

    .home-feature-img-alt {
        padding: 22px 200px 0 0;
    }

    .home-feature-text h6,
    .home-feature-text-alt h6 {
        padding-bottom: 4px;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .home-feature-text h3,
    .home-feature-text-alt h3 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 11px;
        text-transform: capitalize;
    }

    .home-feature-text > ul,
    .home-feature-text-alt > ul {
        padding-left: 20px;
    }

    .home-feature-text > ul > li,
    .home-feature-text-alt > ul > li {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .home-testimonial {
        height: 300px;
        padding: 50px 20px;
    }

    .home-testimonial h5 {
        font-size: 20px;
        text-align: center;
        line-height: 34px;
    }

    .home-testimonial h5 span {
        font-size: 17px;
        text-align: center;
        line-height: 23px;
        padding-left: 350px;
    }

    .navbar-nav > li > h6 {
        font-size: 14px;
        padding: 9px 20px 0 0;
        font-style: italic;
    }

    .footer-links h6,
    .footer-links > ul > li > a {
        font-size: 17px;
    }

    .footer-logo h6 {
        font-size: 15px;
        line-height: 20px;
        padding-top: 0;
    }

    .top-footer {
        padding: 55px 275px 35px 300px;
    }

    .footer-links{
        float: left;
        width: 500px;
    }

    .footer-logo {
        float: left;
        width: 350px;
        padding-top: 15px;
    }

    .footer-copyright {
        padding: 15px 500px;
    }

    .footer-social {
        padding: 0 650px;
    }

}

/* Home Page - Static Section */

.navbar-nav > li > h6,
.home-header-text h1,
.home-header-text h2,
.home-subheader h3,
.home-feature-text h3,
.home-feature-text > ul li,
.home-feature-text-alt h3,
.home-feature-text-alt > ul li,
.home-feature-text h6,
.home-feature-text-alt h6,
.home-testimonial h5,
.footer-links h6,
.footer-links > ul > li > a,
.footer-copyright h6,
.footer-logo h6 {
    font-family: Arial,sans-serif;
}

.navbar-nav > li.active {
    background-color: #808080;
    font-weight: bold;
}

a.clear-button {
    background-color: transparent;
    border: solid rgba(255, 255, 255, 1) 2px;
    margin-right: 25px;
}

a.filled-button {
    background-color: #51b351;
    border: none;
    margin-right: 25px;
}

.home-header-text h1,
.home-subheader h3 {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav > li > h6,
.home-header-text h2,
a.clear-button,
a.filled-button,
.footer-links > ul > li > a,
.footer-copyright h6,
.footer-logo h6 {
    color: #ffffff;
}

.home-feature-text > ul > li,
.home-feature-text h3,
.home-feature-text-alt > ul > li,
.home-feature-text-alt h3 {
    color: #053E25;
}

.home-feature-text h6,
.home-feature-text-alt h6 {
    color: #cc8033;
}

.footer-links h6 {
    color: #33cc33;
}

.navbar-header {
    float: left;
    margin: 0;
}

.navbar-nav {
    position: relative;
    float: right;
    margin: 0;
}

.home-header-text {
    float: left;
    margin: 0;
}

.home-header {
    background: url('../img/home-header-background.jpg') no-repeat center center scroll;
}

.home-header-text h2 span {
    font-weight: bold;
}

.home-feature-alt {
    background-color: #ffffff;
}

.home-feature {
    background-color: #f8f8f8;
}

.home-feature-text,
.home-feature-img,
.home-feature-text-alt,
.home-feature-img-alt {
    margin: 0;
}

.home-feature-text {
    width: 60%;
    float: right;
}

.home-feature-img {
    width: 40%;
    float: left;
}

.home-feature-text-alt {
    width: 60%;
    float: left;
}

.home-feature-img-alt {
    width: 40%;
    float: right;
}

.home-feature-img > img,
.home-feature-img-alt > img {
    max-width: 100%;
    max-height: 100%;
}

.home-testimonial {
    background: url('../img/testimonial-section-bg.jpg') no-repeat center center scroll;
    padding: 50px 200px;
}

.home-testimonial h5 {
    font-style: italic;
    color: #ffffff; 
}

.home-testimonial h5 span {
    color: #ffffff;
    font-style: normal;
}

.footer {
    background-color: #222222;
}

.footer-links > ul {
    list-style: none;
    padding: 0 0 0 100px;
}

.footer-links h6 {
    font-weight: bold;
    padding: 0 0 0 100px;
}

.footer-social,
.footer-copyright {
    clear: left;
}