
body {
    margin-top: 50px;
}

/* Home Page Starts Here */
/* Home Page - Responsive Section */

@media (min-width: 1200px) {
    .navbar-header {
        width: 823px;
    }

    .navbar-nav {
        width: 600px;
    }

    .home-header,
    .home-subheader,
    .home-feature,
    .home-feature-alt,
    .home-testimonial,
    .top-footer,
    .footer-social,
    .footer-copyright {
        width: 1425px;
    }

    .home-header {
        height: 600px;
        padding-top: 60px;
        padding-right: 35px;
    }

    .home-header-text {
        width: 38%;
        padding: 19px 40px 27px 40px;
    }

    .home-header-text h1 {
        font-size: 42px;
        line-height: 49px;
    }

    .home-header-text h2 {
        font-size: 17px;
        line-height: 27px;
    }

    .home-subheader h3 {
        font-size: 20px;
        padding: 23px 0;
        text-transform: capitalize; 
    }

    .home-feature,
    .home-feature-alt {
        height: 360px;
    }

    .home-feature-text {
        padding: 35px 250px 0 25px;
    }

    .home-feature-img {
        padding: 35px 0 0 250px;
    }

    .home-feature-text-alt {
        padding: 35px 0 0 250px;
    }

    .home-feature-img-alt {
        padding: 35px 250px 0 0;
    }

    .home-feature-text h6,
    .home-feature-text-alt h6 {
        padding-bottom: 9px;
        font-size: 18px;
    }

    .home-feature-text h5,
    .home-feature-text-alt h5 {
        font-size: 27px;
        line-height: 40px;
        padding-bottom: 11px;
    }

    .home-feature-text > ul,
    .home-feature-text-alt > ul {
        padding-left: 20px;
    }

    .home-feature-text > ul > li,
    .home-feature-text-alt > ul > li {
        font-size: 16px;
        padding-bottom: 25px;
    }

    .home-testimonial {
        height: 300px;
        padding: 50px 20px;
    }

    .home-testimonial h5 {
        font-size: 20px;
        text-align: center;
        line-height: 34px;
    }

    .home-testimonial h5 span {
        font-size: 17px;
        text-align: center;
        line-height: 23px;
        padding-left: 350px;
    }

    .footer-links h6,
    .footer-links-2 h6,
    .footer-links > ul > li > a,
    .footer-links-2 > ul > li > a {
        font-size: 14px;
    }

    .footer-logo h6 {
        font-size: 12px;
        line-height: 15px;
        padding-top: 0;
    }

    .top-footer {
        padding: 55px 275px 35px 300px;
    }

    .footer-links{
        float: left;
        width: 200px;
    }

    .footer-links-2 {
        float: left;
        width: 300px;
    }

    .footer-logo {
        float: left;
        width: 350px;
        padding-top: 15px;
    }

    .footer-copyright {
        padding: 15px 500px;
    }

    .footer-social {
        padding: 0 650px;
    }

}

/* Home Page - Static Section */

.home-header-text h1,
.home-header-text h2,
.home-subheader h3,
.home-feature-text h5,
.home-feature-text > ul li,
.home-feature-text-alt h5,
.home-feature-text-alt > ul li,
.home-feature-text h6,
.home-feature-text-alt h6,
.home-testimonial h5,
.footer-links h6,
.footer-links > ul > li > a,
.footer-links-2 h6,
.footer-links-2 > ul > li > a,
.footer-copyright h6,
.footer-logo h6 {
    font-family: Spinnaker,sans-serif;
}


.navbar-nav > li.menu-login,
.navbar-nav > li.menu-enterprise {
    background-color: #666666;
}

.navbar-nav > li.menu-login > a,
.navbar-nav > li.menu-enterprise > a {
    font-weight: bold;
}

.home-header-text {
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.5);
}

.home-header-text h1,
.home-subheader h3 {
    color: #ffffff;
    font-weight: bold;
}

.home-header-text h2 {
    color: #ffffff;
}


.home-feature-text > ul > li,
.home-feature-text h5,
.home-feature-text-alt > ul > li,
.home-feature-text-alt h5 {
    color: #053E25;
}

.footer-links h6,
.footer-links-2 h6,
.footer-copyright h6,
.footer-logo h6 {
    color: #2B2B24;
}

.home-feature-text h6,
.home-feature-text-alt h6 {
    color: #cc8033;
}

.navbar-header {
    float: left;
    margin: 0;
}

.home-header-text,
.navbar-nav {
    float: right;
    margin: 0;
}

.home-header {
    background: url('../img/home-header-background.jpg') no-repeat center center scroll;
}

.home-header-text h2 span {
    font-weight: bold;
}

.home-subheader {
    background-color: #51b351;
    text-align: center;
}

.home-subheader h3 {
    margin: 0;
}

hr.style1 {
    text-align: center;
    width: 40%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.home-feature {
    background-color: #ffffff;
}

.home-feature-alt {
    background-color: #ffffff;
}

.home-feature-text,
.home-feature-img,
.home-feature-text-alt,
.home-feature-img-alt {
    margin: 0;
}

.home-feature-text {
    width: 60%;
    float: right;
}

.home-feature-img {
    width: 40%;
    float: left;
}

.home-feature-text-alt {
    width: 60%;
    float: left;
}

.home-feature-img-alt {
    width: 40%;
    float: right;
}

.home-feature-img > img,
.home-feature-img-alt > img {
    max-width: 100%;
    max-height: 100%;
}

.home-testimonial {
    background: url('../img/testimonial-section-bg.jpg') no-repeat center center scroll;
    padding: 50px 200px;
}

.home-testimonial h5 {
    font-style: italic;
    color: #ffffff; 
}

.home-testimonial h5 span {
    color: #ffffff;
    font-style: normal;
}

.top-footer,
.footer-social {
    background-color: #ffffff;
}

.footer-links > ul,
.footer-links-2 > ul {
    list-style: none;
    padding: 0;
}

.footer-links h6,
.footer-links-2 h6 {
    font-weight: bold;
}

.footer-links > ul > li > a,
.footer-links-2 > ul > li > a {
    color: #ee7123;
}

.footer-social,
.footer-copyright {
    clear: left;
}