@media (min-width: 1200px) {

    body {
        margin-top: 156px;
    }

    /* Enterprise Navigation Bar */

    .enterprise-menu {
        position: fixed;
        top: 40px;
        right: 0;
        left: 0;
        z-index: 1030;
        width: 100%;
    }

    /* Top Nav Bar */

    .enterprise-navbar {
        overflow: auto;
    }

    .enterprise-nav > li > a {
        padding: 5px;
        font-size: 16px;
    }

    /* Lower/Filter Nav Bar */

    .enterprise-control-wrapper {
        position: fixed;
        top: 75px;
        right: 0;
        left: 0;
        z-index: 1030;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .control-wrapper {
        overflow: auto;
        width: 100%;
        padding: 9px 9px 0 9px;
    }

    .header-filter {
        float: left;
        width: 7%;
        padding-top: 5px;
        padding-left: 10px;
    }

    .industry-filter {
        float: left;
        width: 33%;
        padding: 0 4px 0 0;
    }

    .headcount-filter {
        float: left;
        width: 11%;
        padding: 0 4px 0 0;
    }

    .region-filter {
        float: left;
        width: 13%;
        padding: 0 4px 0 0;
    }

    .other-filter {
        float: left;
        width: 11%;
        padding: 0;
    }

    .employer-filter-count {
        float: left;
        width: 12%;
        padding: 3px 0 0 80px;
    }

    .filter-control {
        display: block;
        width: 100%;
        float: left;
        font-size: 16px;
        padding-bottom: 3px;
    }

    .filter-control > option {
        padding-top: 4px;
    }

    .plan-selector {
        float: left;
        width: 68%;
        margin-bottom: 9px;
    }

    .plan-control {
        display: block;
        width: 100%;
        float: left;
        font-size: 16px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    img.dropdown-icon {
        display: block;
        width: 22px;
        float: left;
        padding: 0;
        margin: 4px 0 0 10px;
    }

    .control-buttons {
        display: block;
        float: right;
        width: 24%;
        padding: 0;
        margin-bottom: 9px;
    }

    .header-filter h6 {
        font-size: 18px;
    }

    .enterprise-nav > li > a,
    .filter-control,
    .plan-control,
    .control-buttons h6,
    .employer-filter-count h6,
    .btn-primary,
    .btn-print {
        font-size: 16px;
    }

    .btn-primary,
    .btn-print {
        float: right;
        margin: 0 0 0 8px;
        padding: 2px 10px;
    }

    .header-filter h6,
    .control-buttons h6,
    .employer-filter-count h6 {
        margin: 0;
        padding: 0;
    }

    /* Benefit Header Section */

    .benefit-header {
        overflow: auto;
        position: relative;
        width: 100%;
        padding-top: 5px;
    }

    .benefit-details {
        width: 100%;
        float: right;
        padding: 0 20px 0 20px;
    }

    .benefit-header h4,
    .benefit-header h6, {
        padding: 0 0 5px 0;
        margin: 0;
    }

    .other-filter > input {
        margin: 0 0 0 10px;
    }

    .benefit-header h4 {
        font-size: 20px;
    }


    /*    

    .client-logo > img {
        max-height: 140px;
        float: left;
        padding: 20px 0 10px 10px;
    }

    .client-logo {
        width: 11%;
        float: left;
    }

    */

    /* Benefit Feature Sections */

    .section,
    .section-graph,
    .section-content,
    .section-score {
        height: 300px;
    }

    .section {
        overflow: hidden;
        position: relative;
        width: 1425px;
    }

    .section-header {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 40px;
        width: 1425px;
        padding: 0 20px;
        background-color: #f2f2f2;
    }

    .section-header h4 {
        font-weight: 800;
        color: #555;
        font-size: 20px;
    }

    .section-graph {
        position: absolute;
        top: 70px;
        left: 0px;
        height: 230px;
        width: 800px;
        padding: 0 10px 20px 20px;
    }

    .section-content-left {
        position: absolute;
        top: 50px;
        left: 220px;
        height: 250px;
        width: 475px;
    }

    .section-content-right {
        position: absolute;
        top: 50px;
        left: 800px;
        height: 250px;
        width: 475px;
    }

    .section-content {
        position: absolute;
        top: 50px;
        left: 800px;
        height: 250px;
        width: 475px;
    }

    .section-score {
        position: absolute;
        top: 50px;
        left: 1275px;
        height: 250px;
        width: 150px;
        padding: 0 20px 0 10px;
    }

    .section-score h5 {
        font-weight: 600;
        color: #555;
        text-transform: uppercase;
        font-size: 16px;
        margin: 6px 0;
    }

    .section-score p {
        font-size: 50px;
        font-weight: bold;
        border: 1px solid #c0c0c0;
    }

    p.exhibit-text {
        margin-bottom: 6px;
        font-size: 20px;
    }

    p.exhibit-text > span {
        font-size: 12px;
    }



    /* Section Graphs */

    .easy-pie {
        display: inline-block;
        position: relative;
        padding: 20px 70px 5px 70px;
    }

    div.easy-pie div.pie-title {
        top: 120px;
    }

    .pie-title {
        font-size: 12px;
    }



    /* Section Content & Tables */

    .table > tbody > tr > td {
        font-size: 14px;
    }

    .table > thead > tr > th {
        font-size: 14px;
    }

    .table-content > thead > tr > th,
    .table-content > tbody > tr > td {
        padding-right: 20px; 
    }

    .table > thead > tr > th:first-child {
        padding-left: 5px;
    }


    /* Benefit Error */

    .benefit-error {
        width: 100%;
        height: 800px;
    }

    /*Print Section*/

    .print-cover-content {
        position: relative;
        width: 1425px;
        height: 1200px;
        border: 1px solid #e0e0e0;
    }

    .print-benefit-details {
        position: absolute;
        width: 1425px;
        height: 300px;
        top: 300px;
        left: 0px;
        padding: 0 60px;
        text-align: center;
    }

    .print-cover-logo {
        position: absolute;
        width: 1425px;
        height: 400px;
        top: 600px;
        left: 0px;
        padding: 60px;
    }

    .print-cover-logo > img {
        display: block;
        margin: auto;
    }

    .print-benefit-details h4 {
        font-size: 30px;
    }

    .print-benefit-details h6 {
        font-size: 20px;
    }

    .print-benefit-details h6 > span {
        font-size: 15px;
    }

}

.benefit-details > h4 {
    font-weight: 800;
    color: #555;
    text-transform: uppercase;
}

.benefit-details > p,
.benefit-details > h6 {
    margin: 0 0 1px 0;
    padding: 0;
    display: inline;
}

li.active,
.control-buttons h6,
.pie-title {
    font-weight: bold;
}

.enterprise-menu,
.enterprise-control-wrapper,
.other-filter,
.bottom-menu {
    background-color:#333333;
}

.nav-tabs,
.control-wrapper{
    background-color:#222222;
}

.btn-primary {
    background-color: #ee7123;
    float: right;
}

.btn-print {
    background-color: #51b351;
}

li.active,
.section,
.filter-control,
.plan-control {
    background-color: #ffffff;
}


.header-filter h6,
.employer-filter-count h6 {
    display: block;
    float: left;
}

.btn-primary,
.btn-print,
li.active,
.nav-tabs,
.nav-tabs > li > a,
.nav-tabs > li > a:hover > li > a,
.control-buttons h6,
.header-filter h6,
.employer-filter-count h6 {
    color: #ffffff;
}

.btn-primary,
.btn-print,
.pie-title {
    text-transform: capitalize;
}

.section-score h5,
p.exhibit-text {
    font-weight: 800;
    color: #555;
    text-transform: uppercase;
}

p.exhibit-text > span {
    font-weight: 100;
    color: #999999;
    text-transform: capitalize;
    font-style: italic;
}

.filter-control,
.plan-control,
.pie-title {
    color: #5e5e5e;
}

.exhibit-text {
    color: #b3b3b3;
}

.nav-tabs > li > a {
    border: 1px solid #c0c0c0;
}

.nav-tabs > li > a:hover {
    background-color: #33cc33;
}

.control-wrapper {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.filter-control,
.plan-control {
    border: 1px solid #e0e0e0;
}

.benefit-header {
    border: 1px solid #c0c0c0;
}

.bootgrid-footer,
.table-responsive {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.table-responsive {
    border-bottom: 1px solid #c0c0c0;
}

.section {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.table-content > thead > tr > th,
.table-content > tbody > tr > td {
    text-align: right; 
}

.table-content > thead > tr > th {
    font-weight: 600;
    color: #555;
    text-transform: uppercase;
}

.table-content > thead > tr > th.row-label,
.table-content > tbody > tr > td.row-label {
    text-align: left;
}

.table-content > tbody > tr.quintile-subject > td {
   font-weight: bold;
}

p.threshold-error {
    color: red;
}

.section-score h5,
.section-score p,
div.easy-pie div.percent {
    text-align: center;
}
