@media (min-width: 1200px) {

    body {
        margin-top: 160px;
    }

    .enterprise-menu {
        position: fixed;
        top: 50px;
        right: 0;
        left: 0;
        z-index: 1030;
        width: 100%;
    }

    .enterprise-navbar {
        overflow: auto;
    }

    .enterprise-control-wrapper {
        overflow: auto;
        position: fixed;
        top: 78px;
        right: 0;
        left: 0;
        z-index: 1030;
        width: 100%;
        padding: 0 1px;
        border-style-top: none;
    }

    .enterprise-nav > li > a {
        padding: 3px 0;
        letter-spacing: 1px;
    }

    .control-wrapper {
        padding: 4px;
        overflow: auto;
        width: 100%;
    }

    .industry-filter {
        float: left;
        width: 40%;
        padding: 0 4px 0 0;
    }

    .headcount-filter {
        float: left;
        width: 20%;
        padding:  0 4px 0 0;
    }

    .region-filter {
        float: left;
        width: 20%;
        padding:  0 4px 0 0;
    }

    .other-filter {
        float: left;
        width: 20%;
        padding: 1px 0 0 0;
    }

    .filter-control {
        display: block;
        width: 100%;
        float: left;
        font-size: 16px;
        padding-left: 4px;
    }

    img.dropdown-icon {
        display: block;
        width: 20px;
        float: right;
        padding-top: 4px;
    }

    .bottom-menu {
        overflow: auto;
        width: 100%;
        padding: 7px 4px 4px 4px;
    }

    .plan-control {
        display: block;
        width: 70%;
        font-size: 19px;
        padding-left: 4px;
        margin-left: 4px;
    }

    .plan-dropdown {
        float: left;
        width: 60%;
        padding: 0;
    }

    .plan-dropdown h6 {
        float: left;
    }

    .control-buttons {
        float: right;
        width: 40%;
        padding: 0;
    }

    .btn-primary,
    .btn-print,
    .control-buttons h6 {
        float: right;
        margin-left: 8px; 
    }

    .section {
        overflow: auto;
        position: relative;
        width: 100%;
        padding: 10px;
    }

    .benefit-header {
        overflow: auto;
        position: relative;
        width: 100%;
        padding: 15px;
    }

    .section-content {
        width: 40%;
        height: 100%;
        float: left;
        padding: 0 35px 0 0;
    }

    .section-graph {
        width: 60%;
        height: 100%;
        float: right;
    }

    .benefit-header h4,
    .benefit-header h6, {
        padding: 0 0 5px 0;
        margin: 0;
    }

    .benefit-header h4 {
        font-size: 20px;
    }

    .other-filter > label {
        font-size: 16px;
        padding: 0 5px;
    }

    .benefit-header h6 {
        font-size: 13px;
    }

    .client-logo {
        width: 15%;
        float: left;
    }

    .client-logo > img {
        max-height: 140px;
        float: left;
        padding: 10px;
    }

    .benefit-details{
        width: 85%;
        float: right;
    }

    .control-buttons h6,
    .plan-dropdown h6 {
        font-size: 18px;
        margin: 0;
        padding-top: 5px;
    }

    .btn-primary,
    .btn-print,
    .table > thead > tr > th,
    .table > tbody > tr > td {
        font-size: 14px;
    }

    .table-content > thead > tr > th,
    .table-content > tbody > tr > td {
        padding-right: 20px; 
    }


    .benefit-error {
        width: 100%;
        height: 800px;
    }

}


p.exhibit-text {
    margin-bottom: 6px;
}

.nav-tabs > li > a,
li.active,
.control-buttons h6,
.plan-dropdown h6,
.other-filter > label {
    font-weight: bold;
}

.enterprise-menu,
.enterprise-control-wrapper,
.control-wrapper,
.other-filter,
.bottom-menu {
    background-color:#222222;
}

.nav-tabs {
    background-color:#444444;
}

.btn-primary {
    background-color: #ee7123;
    float: right;
}

.btn-print {
    background-color: #51b351;
}

li.active,
.section,
.filter-control,
.plan-control {
    background-color: #ffffff;
}

.btn-primary,
.btn-print,
li.active,
.nav-tabs,
.nav-tabs > li > a,
.nav-tabs > li > a:hover > li > a,
.control-buttons h6,
.plan-dropdown h6,
.other-filter > label {
    color: #ffffff;
}

.filter-control,
.plan control {
    color: #5e5e5e;
}

.exhibit-text {
    color: #b3b3b3;
}

.nav-tabs > li {
    border: 1px inset #c0c0c0;
}

.control-wrapper {
    border-left: 1px inset #c0c0c0;
    border-right: 1px inset #c0c0c0;
    border-top: 1px inset #c0c0c0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
li.active {
    border-bottom-style: none;
}

.filter-control,
.plan-control {
    border: 1px solid #e0e0e0;
}

.benefit-header,
.section {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.nav-tabs > li > a:hover {
    background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
}

.table-content > thead > tr > th,
.table-content > tbody > tr > td {
    text-align: right; 
}

.table-content > thead > tr > th.row-label,
.table-content > tbody > tr > td.row-label {
    text-align: left;
}

p.threshold-error {
    color: red;
}

div.easy-pie div.percent {
    text-align: center;
}

div.easy-pie div.pie-title {
    top: 100px;
}