
/*  Print Section */

.print-cover-content,
.print-benefit-details,
.print-cover-logo {
    width: 1425px;
}

.print-cover-content {
    height: 1200px;
}

.print-benefit-details {
    height: 300px;
    top: 300px;
    left: 0px;
    padding: 0 60px;
}

.print-cover-logo {
    height: 400px;
    top: 600px;
    left: 0px;
    padding: 60px;
}

.print-cover-logo > img {
    margin: auto;
}

.print-benefit-details h4 {
    font-size: 30px;
}

.print-benefit-details h6 {
    font-size: 20px;
}

.print-benefit-details h6 > span {
    font-size: 15px;
}


/*  Desktop Format */

@media (min-width: 1200px) {

    body {
        margin-top: 121px;
    }

    /* Top Navigation */

    .enterprise-control-wrapper {
        top: 41px;
    }

    .enterprise-nav > li > a {
        padding: 5px;
    }

    .control-wrapper {
        padding: 9px 9px 0 9px;
    }

    .header-filter {
        width: 7%;
        padding: 5px 0 0 25px;
    }

    .industry-filter {
        width: 37%;
        padding-right: 7px;
    }

    .region-filter {
        width: 15%;
        padding-right: 7px;
    }

    .headcount-filter {
        width: 13%;
        padding-right: 7px;
    }

    .other-filter {
        width: 14%;
    }

    .zoom-icon {
        width: 7%;
        padding: 4px 0 0 5px;
    }

    .control-buttons {
        width: 7%;
        padding-right: 25px;
    }

    .plan-selector {
        width: 37%;
        margin-bottom: 9px;
    }

    .benefit-selector {
        width: 35%;
        margin-bottom: 9px;
    }

    .filter-control,
    .plan-control,
    .benefit-control {
        padding-bottom: 3px;
    }

    .filter-control > option,
    .plan-control > option,
    .benefit-control > option {
        padding-top: 4px;
    }

    .btn-primary {
        padding: 1px 17px;
    }

    .btn-print-page {
        padding: 1px 19px;
    }

    .btn-print-report {
        padding: 1px 13px;
    }
    
    
    /* Benefit Header */

    .benefit-header {
        padding-top: 5px;
    }

    .benefit-details {
        padding: 0 20px;
    }

    .other-filter > input {
        margin-left: 10px;
    }


    /* Feature Sections */

    .section,
    .section-header {
        width: 1425px;
    }

    .section,
    .section-graph,
    .section-content,
    .section-score {
        height: 300px;
    }

    .section-header {
        top: 0px;
        left: 0px;
        height: 40px;
        padding: 0 20px;
    }

    .section-graph {
        top: 70px;
        left: 0px;
        height: 230px;
        width: 800px;
        padding: 0 10px 20px 20px;
    }

    .section-content-left {
        top: 50px;
        left: 220px;
        height: 250px;
        width: 475px;
    }

    .section-content-right {
        top: 50px;
        left: 800px;
        height: 250px;
        width: 475px;
    }

    .section-content {
        top: 50px;
        left: 800px;
        height: 250px;
        width: 475px;
    }

    .section-score {
        top: 50px;
        left: 1275px;
        height: 250px;
        width: 150px;
        padding: 0 20px 0 10px;
    }

    .section-score h5 {
        margin: 6px 0;
    }


    /* Easy Pie Graphs */

    .easy-pie {
        padding: 20px 70px 5px 70px;
    }

    div.easy-pie div.pie-title {
        top: 120px;
    }


    /* Section Content & Tables */

    .table-content > thead > tr > th,
    .table-content > tbody > tr > td {
        padding-right: 20px; 
    }

    .table > thead > tr > th:first-child {
        padding-left: 5px;
    }


    /* Benefit Error */

    .benefit-error {
        height: 800px;
    }


    /* Font Size */

    .pie-title {
        font-size: 12px;
    }

    .table > tbody > tr > td,
    .table > thead > tr > th {
        font-size: 14px;
    }

    .filter-control,
    .enterprise-nav > li > a,
    .plan-control,
    .benefit-control,
    .control-buttons h6,
    .section-score h5 {
        font-size: 16px;
    }

    .header-filter h6,
    .employer-filter-count h6,
    .btn-primary,
    .btn-print-report,
    .btn-print-page {
        font-size: 18px;
    }

    .benefit-header h4,
    .section-header h4{
        font-size: 20px;
    }

    .section-score p {
        font-size: 50px;
    }

}

.enterprise-menu,
.enterprise-control-wrapper,
.control-wrapper,
.filter-control,
.plan-control,
.benefit-control,
.benefit-header,
.benefit-details,
.benefit-error {
    width: 100%;
}

.header-filter h6,
.control-buttons h6,
.employer-filter-count h6,
.benefit-details > p,
.benefit-details > h6 {
    padding: 0;
}

.header-filter h6,
.control-buttons h6,
.employer-filter-count h6,
.benefit-details > p,
.benefit-details > h6 {
    margin: 0;
}

.enterprise-menu,
.enterprise-control-wrapper {
    right: 0;
    left: 0;
}

.header-filter,
.industry-filter,
.headcount-filter,
.region-filter,
.other-filter,
.zoom-icon,
.filter-control,
.plan-selector,
.benefit-selector,
.plan-control,
.benefit-control,
img.dropdown-icon,
.header-filter h6,
.employer-filter-count h6 {
    float: left;
}

.btn-primary,
.btn-print-report,
.btn-print-page,
.control-buttons,
.benefit-details {
    float: right;
}

.enterprise-control-wrapper,
.enterprise-menu {
    position: fixed;
}

.section-header,
.section-content,
.section-graph,
.section-content-right,
.section-content-left,
.section-score,
.print-benefit-details,
.print-cover-logo {
    position: absolute;
}

.enterprise-navbar,
.control-wrapper,
.benefit-header {
    overflow: auto;
}

.section {
    overflow: hidden;
}

.benefit-header,
.section,
.easy-pie,
.print-cover-content {
    position: relative;
}

.header-filter h6,
.employer-filter-count h6,
.filter-control,
.plan-control,
.benefit-control,
img.dropdown-icon,
.control-buttons,
.print-cover-logo > img {
    display: block;
}

.benefit-details > p,
.benefit-details > h6 {
    display: inline;
}

.easy-pie {
    display: inline-block;
}

.enterprise-control-wrapper,
.enterprise-menu {
    z-index: 1030;
}



/*  Background Colors  */

.enterprise-menu,
.enterprise-control-wrapper,
.other-filter,
.bottom-menu {
    background-color: #333333;
}

.nav-tabs {
    background-color: #444444;
}

.control-wrapper {
    background-color: #222222;
}

.btn-primary {
    background-color: #ee7123;
}

.btn-print-report,
.btn-print-page {
    background-color: #51b351;
}

li.active,
.section,
.filter-control,
.plan-control,
.benefit-control {
    background-color: #ffffff;
}

.nav-tabs > li > a:hover {
    background-color: #33cc33;
}

.section-header {
    background-color: #f2f2f2;
}


/*  Borders  */

.section-score p,
.benefit-header,
.nav-tabs > li > a {
    border: 1px solid #c0c0c0;
}

.filter-control,
.plan-control,
.benefit-control,
.print-cover-content {
    border: 1px solid #e0e0e0;
}

.control-wrapper,
.bootgrid-footer,
.table-responsive {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.table-responsive {
    border-bottom: 1px solid #c0c0c0;
}

.section {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}



/*  Font Color  */

.section-score h5,
.benefit-details > h4,
.section-header h4,
.section-score h5,
.table-content > thead > tr > th {
    color: #555;
}

p.threshold-error {
    color: red;
}

.btn-primary,
.btn-print-report,
.btn-print-page,
li.active,
.nav-tabs,
.nav-tabs > li > a,
.nav-tabs > li > a:hover > li > a,
.control-buttons h6,
.header-filter h6,
.employer-filter-count h6 {
    color: #ffffff;
}

.filter-control,
.plan-control,
.benefit-control,
.pie-title {
    color: #5e5e5e;
}



/*  Text Alignment & Transformation */

.table-content > thead > tr > th,
.table-content > tbody > tr > td {
    text-align: right; 
}

.table-content > thead > tr > th.row-label,
.table-content > tbody > tr > td.row-label {
    text-align: left;
}

.section-score h5,
.section-score p,
div.easy-pie div.percent,
.print-benefit-details {
    text-align: center;
}

.btn-primary,
.btn-print-report,
.btn-print-page,
.pie-title {
    text-transform: capitalize;
}

.table-content > tbody > tr.quintile-subject > td,
li.active,
.control-buttons h6,
.pie-title,
.section-score p,
.section-score h5,
.table-content > thead > tr > th,
.section-header h4,
.section-score h5,
.benefit-details > h4 {
    font-weight: bold;
}

.section-score h5,
.benefit-details > h4,
.table-content > thead > tr > th,
.section-score h5 {
    text-transform: uppercase;
}
