{% extends "admin/base.html" %}
{% load mezzanine_tags i18n staticfiles %}

{% block title %}{{ title }} | Mezzanine{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="{% static 'css/app.min.1.css' %}">
<link rel="stylesheet" href="{% static 'css/app.min.2.css' %}">
<link rel="stylesheet" href="{% static 'css/bnchmrk.css' %}">
<link rel="stylesheet" href="{% static 'mezzanine/css/admin/global.css' %}">

<style>
    /* These are set in PageAdmin's view methods, and mezzanine.utils.admin.SingletonAdmin */
    {% if hide_delete_link or singleton %}.submit-row .deletelink {display:none !important;}{% endif %}
    {% if hide_slug_field %}.slug {display:none !important;}{% endif %}
    {% if singleton %}.change-view-save-another {display:none !important;}{% endif %}
</style>
<script>
    {% url "static_proxy" as static_proxy_url %}
    {% url "fb_browse" as fb_browse_url %}
    {% url "displayable_links_js" as link_list_url %}
    {% url "admin:index" as admin_index_url %}
    {% get_current_language as LANGUAGE_CODE %}
    window.__home_link = '<a href="/enterprise">Enterprise</a>';
    window.__csrf_token = '{{ csrf_token }}';
    window.__admin_keywords_submit_url = '{% url "admin_keywords_submit" %}';
    window.__filebrowser_url = '{{ fb_browse_url }}';
    window.__link_list_url = '{{ link_list_url }}';
    window.__tinymce_css = '{% static "mezzanine/css/tinymce.css" %}';
    window.__admin_url = '{{ admin_index_url }}';
    window.__static_proxy = '{{ static_proxy_url }}';
    window.__admin_media_prefix__ = '{% static "admin" %}/';
    window.__grappelli_installed = {{ settings.GRAPPELLI_INSTALLED|lower }};
    window.__admin_menu_collapsed = {{ settings.ADMIN_MENU_COLLAPSED|lower }};
    window.__language_code = '{{ LANGUAGE_CODE }}';
</script>

{% if not settings.GRAPPELLI_INSTALLED %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
{% endif %}

<script>
jQuery(function($) {
    $('.admin-title').click(function() {location = window.__admin_url;});
    // This line can be removed after a decent amount of time has passed since
    // https://github.com/stephenmcd/grappelli-safe/pull/56/files occurring.
    $("#id_sitepermissions-__prefix__-sites").parent().parent().parent().remove();

    if ($('ul.navbar-nav li a').eq(2).html() != 'INSIGHTS')
        // make active menuitem for this page
        $('ul.navbar-nav li').eq(2).addClass('active');    
});
</script>

{% endblock %}

{% block rtl_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "mezzanine/css/admin/rtl.css" %}" />
{% endblock %}

{% block before_content %}
{% if user.is_staff and not is_popup and not request.GET.pop %}
<div id="panel">
    <h2>Account Menu</h2>
    <ul>
        <li>
            <ul class="dropdown-menu-menu-bnchmrk">
                <li><a href="/admin/general/employer/">Employers</a></li>
                <li><a href="/admin/general/medical/">Medical Plans</a></li>
                <li><a href="/admin/general/dental/">Dental Plans</a></li>
                <li><a href="/admin/general/vision/">Vision Plans</a></li>
                <li><a href="/admin/general/life/">Life Plans</a></li>
                <li><a href="/admin/general/std/">STD Plans</a></li>    
                <li><a href="/admin/general/ltd/">LTD Plans</a></li>
                <li><a href="/admin/general/strategy/">Strategies</a></li>
                <li><a href="/admin/password_change">Change Password</a></li>
            </ul>
        </li>        
    </ul>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% if form.this_is_the_login_form %}
    <script src="{% static "mezzanine/js/admin/login.js" %}"></script>
{% else %}
    {% if user.is_staff %}
        {% if not is_popup and not request.GET.pop %}
        <link rel="stylesheet" href="{% static "mezzanine/chosen/chosen.css" %}">
        <script src="{% static "mezzanine/chosen/chosen-0.9.12.jquery.js" %}"></script>
        <script src="{% static "mezzanine/js/admin/navigation.js" %}"></script>

        {% endif %}
        <script src="{% static "mezzanine/js/admin/ajax_csrf.js" %}"></script>
        {% if settings.GRAPPELLI_INSTALLED %}
        <script src="{% static "mezzanine/js/admin/collapse_backport.js" %}"></script>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
