{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_urls admin_static admin_modify %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url "admin:jsi18n" as jsi18nurl %}
    <script src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
    {% if inline_admin_formsets %}
    <script src="{% static "grappelli/js/admin/Inline.js" %}"></script>
    <script src="{% static "grappelli/js/admin/CollapsedInlineFieldsets.js" %}"></script>
    {% endif %}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block coltype %}colM{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    {% url "admin:index" as admin_index_url %}
    <a href="{{ admin_index_url }}">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
    {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
    {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">
    <!-- Object-Tools -->
    {% block object-tools %}
    {% if change %}
    {% if not is_popup %}
    {% endif %}
    {% endif %}
    {% endblock %}

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            <!-- To Field Hidden Field -->
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}

            <!-- Submit-Row -->
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

            <!-- Related-objects js that was brought in with Django 1.8 (merge from grappelli) -->
            {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                    {% if adminform and add %}
                        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                    {% endif %}
                        // highlight left panel item
                        var model_name = '{{opts.model_name}}';
                        $('.dropdown-menu-menu-bnchmrk li a').removeClass('active');
                        $('.dropdown-menu-menu-bnchmrk li a').each(function() {
                            var link = $(this).attr('href');
                            if (link.includes(model_name)) {
                                $(this).addClass('active');
                            }
                        });
                    });
                })(django.jQuery);
            </script>
            {% endblock %}

            <!-- Errors -->
            {% if errors %}
            <p class="errornote">
                {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <!-- Fieldsets -->
            {% block field_sets %}
            {% for fieldset in adminform %}
<fieldset class="module aligned ">
    <h2>{{ title }}</h2>  
    <table>
        <col width="20%">
        <col width="30%">
        <col width="20%">
        <col width="30%">
      <tbody>       
        <tr>
            <td {% if fieldset.form.employer.errors %} class="errors"{% endif %}>{{ fieldset.form.employer.errors }}{{ fieldset.form.employer.label_tag }}</td>
            <td {% if fieldset.form.employer.errors %} class="errors"{% endif %}>{{ fieldset.form.employer }}</td>
            <td {% if fieldset.form.offer_vol_life.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_life.errors }}{{ fieldset.form.offer_vol_life.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_life.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_life }}</td>            
        </tr>
        <tr>
            <td {% if fieldset.form.offer_vol_std.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_std.errors }}{{ fieldset.form.offer_vol_std.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_std.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_std }}</td>
            <td {% if fieldset.form.offer_vol_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_ltd.errors }}{{ fieldset.form.offer_vol_ltd.label_tag }}</td>
            <td {% if fieldset.form.offer_vol_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_vol_ltd }}</td>                    
        </tr>
        <tr>
            <td {% if fieldset.form.offer_fsa.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_fsa.errors }}{{ fieldset.form.offer_fsa.label_tag }}</td>
            <td {% if fieldset.form.offer_fsa.errors %} class="errors"{% endif %}>{{ fieldset.form.offer_fsa }}</td>
            <td {% if fieldset.form.spousal_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge.errors }}{{ fieldset.form.spousal_surcharge.label_tag }}</td>
            <td {% if fieldset.form.spousal_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge }}</td>                                
        </tr>
        <tr>
            <td {% if fieldset.form.narrow_network.errors %} class="errors"{% endif %}>{{ fieldset.form.narrow_network.errors }}{{ fieldset.form.narrow_network.label_tag }}</td>
            <td {% if fieldset.form.narrow_network.errors %} class="errors"{% endif %}>{{ fieldset.form.narrow_network }}</td>
            <td {% if fieldset.form.spousal_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge_amount.errors }}{{ fieldset.form.spousal_surcharge_amount.label_tag }}</td>
            <td {% if fieldset.form.spousal_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.spousal_surcharge_amount }}</td>                         
        </tr>
        <tr>
            <td {% if fieldset.form.mec.errors %} class="errors"{% endif %}>{{ fieldset.form.mec.errors }}{{ fieldset.form.mec.label_tag }}</td>
            <td {% if fieldset.form.mec.errors %} class="errors"{% endif %}>{{ fieldset.form.mec }}</td>
            <td {% if fieldset.form.tobacco_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge.errors }}{{ fieldset.form.tobacco_surcharge.label_tag }}</td>
            <td {% if fieldset.form.tobacco_surcharge.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge }}</td>  
        </tr>       
        <tr>
            <td {% if fieldset.form.mvp.errors %} class="errors"{% endif %}>{{ fieldset.form.mvp.errors }}{{ fieldset.form.mvp.label_tag }}</td>
            <td {% if fieldset.form.mvp.errors %} class="errors"{% endif %}>{{ fieldset.form.mvp }}</td>
            <td {% if fieldset.form.tobacco_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge_amount.errors }}{{ fieldset.form.tobacco_surcharge_amount.label_tag }}</td>
            <td {% if fieldset.form.tobacco_surcharge_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.tobacco_surcharge_amount }}</td>                           
        </tr>                  
        <tr>
            <td {% if fieldset.form.contribution_bundle.errors %} class="errors"{% endif %}>{{ fieldset.form.contribution_bundle.errors }}{{ fieldset.form.contribution_bundle.label_tag }}</td>
            <td {% if fieldset.form.contribution_bundle.errors %} class="errors"{% endif %}>{{ fieldset.form.contribution_bundle }}</td>
            <td {% if fieldset.form.pt_medical.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_medical.errors }}{{ fieldset.form.pt_medical.label_tag }}</td>
            <td {% if fieldset.form.pt_medical.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_medical }}</td>                           
        </tr>  
        <tr>
            <td {% if fieldset.form.defined_contribution.errors %} class="errors"{% endif %}>{{ fieldset.form.defined_contribution.errors }}{{ fieldset.form.defined_contribution.label_tag }}</td>
            <td {% if fieldset.form.defined_contribution.errors %} class="errors"{% endif %}>{{ fieldset.form.defined_contribution }}</td>
            <td {% if fieldset.form.t3_gross.errors %} class="errors"{% endif %}>{{ fieldset.form.t3_gross.errors }}{{ fieldset.form.t3_gross.label_tag }}</td>
            <td {% if fieldset.form.t3_gross.errors %} class="errors"{% endif %}>{{ fieldset.form.t3_gross }}</td>                           
        </tr>  
        <tr>
            <td {% if fieldset.form.pt_dental.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_dental.errors }}{{ fieldset.form.pt_dental.label_tag }}</td>
            <td {% if fieldset.form.pt_dental.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_dental }}</td>
            <td {% if fieldset.form.salary_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.salary_banding.errors }}{{ fieldset.form.salary_banding.label_tag }}</td>
            <td {% if fieldset.form.salary_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.salary_banding }}</td>                           
        </tr>  
        <tr>
            <td {% if fieldset.form.pt_vision.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_vision.errors }}{{ fieldset.form.pt_vision.label_tag }}</td>
            <td {% if fieldset.form.pt_vision.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_vision }}</td>
            <td {% if fieldset.form.wellness_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.wellness_banding.errors }}{{ fieldset.form.wellness_banding.label_tag }}</td>
            <td {% if fieldset.form.wellness_banding.errors %} class="errors"{% endif %}>{{ fieldset.form.wellness_banding }}</td>                           
        </tr>  
        <tr>
            <td {% if fieldset.form.pt_life.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_life.errors }}{{ fieldset.form.pt_life.label_tag }}</td>
            <td {% if fieldset.form.pt_life.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_life }}</td>
            <td {% if fieldset.form.pt_std.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_std.errors }}{{ fieldset.form.pt_std.label_tag }}</td>
            <td {% if fieldset.form.pt_std.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_std }}</td>                           
        </tr>  
        <tr>
            <td {% if fieldset.form.pt_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_ltd.errors }}{{ fieldset.form.pt_ltd.label_tag }}</td>
            <td {% if fieldset.form.pt_ltd.errors %} class="errors"{% endif %}>{{ fieldset.form.pt_ltd }}</td>                                      
        </tr>               
      </tbody>
    </table>
</fieldset>
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            <!-- Inlines -->
            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            <!-- Submit-Row -->
            {% block submit_buttons_bottom %}
            <div class="submit-row">
                <p class="deletelink-box"><a href="/admin/general/life/3084/delete/" class="deletelink">Delete</a></p>
                <a href="{{ history_url }}">{% trans "History" %}</a>
                <input value="Cancel" class="warning" name="_cancel" onclick="history.go(-1);" type="button">
                <input value="Save" class="default" name="_save" type="submit">
                
                <input class="change-view-save-another" value="Save and add another" name="_addanother" type="submit">
                <input class="change-view-save-continue" value="Save and continue editing" name="_continue" type="submit">
            </div>
            {% endblock %}

            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}
