{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_urls admin_static admin_modify %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url "admin:jsi18n" as jsi18nurl %}
    <script src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
    {% if inline_admin_formsets %}
    <script src="{% static "grappelli/js/admin/Inline.js" %}"></script>
    <script src="{% static "grappelli/js/admin/CollapsedInlineFieldsets.js" %}"></script>
    {% endif %}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block coltype %}colM{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    {% url "admin:index" as admin_index_url %}
    <a href="{{ admin_index_url }}">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
    {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
    {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">

    <!-- Object-Tools -->
    {% block object-tools %}
    {% if change %}
    {% if not is_popup %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <li><a href="{{ history_url }}">{% trans "History" %}</a></li>
            {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
        {% endblock %}
    </ul>
    {% endif %}
    {% endif %}
    {% endblock %}

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            <!-- To Field Hidden Field -->
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}

            <!-- Submit-Row -->
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

            <!-- Related-objects js that was brought in with Django 1.8 (merge from grappelli) -->
            {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                    {% if adminform and add %}
                        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                    {% endif %}

                        // highlight left panel item
                        var model_name = '{{opts.model_name}}';
                        $('.dropdown-menu-menu-bnchmrk li a').removeClass('active');
                        $('.dropdown-menu-menu-bnchmrk li a').each(function() {
                            var link = $(this).attr('href');
                            if (link.includes(model_name)) {
                                $(this).addClass('active');
                            }
                        });
                    });
                })(django.jQuery);
            </script>
            {% endblock %}

            <!-- Errors -->
            {% if errors %}
            <p class="errornote">
                {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <!-- Fieldsets -->
            {% block field_sets %}
            {% for fieldset in adminform %}
<fieldset class="module aligned ">
    <h2>Change Employer</h2>  
    <table>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      <tbody>
        <tr>
            <td {% if fieldset.form.name.errors %} class="errors"{% endif %}>{{ fieldset.form.name.errors }}{{ fieldset.form.name.label_tag }}</td>
            <td colspan=3 {% if fieldset.form.name.errors %} class="errors"{% endif %}>{{ fieldset.form.name }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.broker.errors %} class="errors"{% endif %}>{{ fieldset.form.broker.errors }}{{ fieldset.form.broker.label_tag }}</td>
            <td {% if fieldset.form.broker.errors %} class="errors"{% endif %}>{{ fieldset.form.broker }}</td>
            <td>Renewal Date</td>
            <td>Need to Add Field</td>           
        </tr>
        <tr>
            <td>User</td>
            <td>Need to Add Field</td> 
            <td {% if fieldset.form.size.errors %} class="errors"{% endif %}>{{ fieldset.form.size.errors }}{{ fieldset.form.size.label_tag }}</td>
            <td {% if fieldset.form.size.errors %} class="errors"{% endif %}>{{ fieldset.form.size }}</td>          
        </tr>
        <tr>
            <td colspan="4" class="change-header">Industry Data Points</td>
        </tr>
        <tr>
            <td {% if fieldset.form.industry1.errors %} class="errors"{% endif %}>{{ fieldset.form.industry1.errors }}{{ fieldset.form.industry1.label_tag }}</td>
            <td {% if fieldset.form.industry1.errors %} class="errors"{% endif %}>{{ fieldset.form.industry1 }}</td>
            <td {% if fieldset.form.govt_contractor.errors %} class="errors"{% endif %}>{{ fieldset.form.govt_contractor.errors }}{{ fieldset.form.govt_contractor.label_tag }}</td>
            <td {% if fieldset.form.govt_contractor.errors %} class="errors"{% endif %}>{{ fieldset.form.govt_contractor }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.industry2.errors %} class="errors"{% endif %}>{{ fieldset.form.industry2.errors }}{{ fieldset.form.industry2.label_tag }}</td>
            <td {% if fieldset.form.industry2.errors %} class="errors"{% endif %}>{{ fieldset.form.industry2 }}</td>
            <td {% if fieldset.form.nonprofit.errors %} class="errors"{% endif %}>{{ fieldset.form.nonprofit.errors }}{{ fieldset.form.nonprofit.label_tag }}</td>
            <td {% if fieldset.form.nonprofit.errors %} class="errors"{% endif %}>{{ fieldset.form.nonprofit }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.industry3.errors %} class="errors"{% endif %}>{{ fieldset.form.industry3.errors }}{{ fieldset.form.industry3.label_tag }}</td>
            <td {% if fieldset.form.industry3.errors %} class="errors"{% endif %}>{{ fieldset.form.industry3 }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" class="change-header">Regional Data Points</td>
        </tr>
        <tr>
            <td {% if fieldset.form.new_england.errors %} class="errors"{% endif %}>{{ fieldset.form.new_england.errors }}{{ fieldset.form.new_england.label_tag }}</td>
            <td {% if fieldset.form.new_england.errors %} class="errors"{% endif %}>{{ fieldset.form.new_england }}</td>  
            <td {% if fieldset.form.mid_atlantic.errors %} class="errors"{% endif %}>{{ fieldset.form.mid_atlantic.errors }}{{ fieldset.form.mid_atlantic.label_tag }}</td>
            <td {% if fieldset.form.mid_atlantic.errors %} class="errors"{% endif %}>{{ fieldset.form.mid_atlantic }}</td>                         
        </tr>
        <tr>
            <td {% if fieldset.form.south_cental.errors %} class="errors"{% endif %}>{{ fieldset.form.south_cental.errors }}{{ fieldset.form.south_cental.label_tag }}</td>
            <td {% if fieldset.form.south_cental.errors %} class="errors"{% endif %}>{{ fieldset.form.south_cental }}</td>  
            <td {% if fieldset.form.south_atlantic.errors %} class="errors"{% endif %}>{{ fieldset.form.south_atlantic.errors }}{{ fieldset.form.south_atlantic.label_tag }}</td>
            <td {% if fieldset.form.south_atlantic.errors %} class="errors"{% endif %}>{{ fieldset.form.south_atlantic }}</td>                           
        </tr>
        <tr>
            <td {% if fieldset.form.east_central.errors %} class="errors"{% endif %}>{{ fieldset.form.east_central.errors }}{{ fieldset.form.east_central.label_tag }}</td>
            <td {% if fieldset.form.east_central.errors %} class="errors"{% endif %}>{{ fieldset.form.east_central }}</td> 
            <td {% if fieldset.form.west_central.errors %} class="errors"{% endif %}>{{ fieldset.form.west_central.errors }}{{ fieldset.form.west_central.label_tag }}</td>
            <td {% if fieldset.form.west_central.errors %} class="errors"{% endif %}>{{ fieldset.form.west_central }}</td>  
        </tr>
        <tr>
            <td {% if fieldset.form.mountain.errors %} class="errors"{% endif %}>{{ fieldset.form.mountain.errors }}{{ fieldset.form.mountain.label_tag }}</td>
            <td {% if fieldset.form.mountain.errors %} class="errors"{% endif %}>{{ fieldset.form.mountain }}</td>
            <td {% if fieldset.form.pacific.errors %} class="errors"{% endif %}>{{ fieldset.form.pacific.errors }}{{ fieldset.form.pacific.label_tag }}</td>
            <td {% if fieldset.form.pacific.errors %} class="errors"{% endif %}>{{ fieldset.form.pacific }}</td>                           
        </tr> 
        <tr>
            <td colspan="4" class="change-header">Plan Counts</td>
        </tr>
        <tr>
            <td {% if fieldset.form.med_count.errors %} class="errors"{% endif %}>{{ fieldset.form.med_count.errors }}{{ fieldset.form.med_count.label_tag }}</td>
            <td {% if fieldset.form.med_count.errors %} class="errors"{% endif %}>{{ fieldset.form.med_count }}</td>
            <td {% if fieldset.form.den_count.errors %} class="errors"{% endif %}>{{ fieldset.form.den_count.errors }}{{ fieldset.form.den_count.label_tag }}</td>
            <td {% if fieldset.form.den_count.errors %} class="errors"{% endif %}>{{ fieldset.form.den_count }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.vis_count.errors %} class="errors"{% endif %}>{{ fieldset.form.vis_count.errors }}{{ fieldset.form.vis_count.label_tag }}</td>
            <td {% if fieldset.form.vis_count.errors %} class="errors"{% endif %}>{{ fieldset.form.vis_count }}</td>
            <td {% if fieldset.form.life_count.errors %} class="errors"{% endif %}>{{ fieldset.form.life_count.errors }}{{ fieldset.form.life_count.label_tag }}</td>
            <td {% if fieldset.form.life_count.errors %} class="errors"{% endif %}>{{ fieldset.form.life_count }}</td>
        </tr>
        
        <tr>
            <td {% if fieldset.form.std_count.errors %} class="errors"{% endif %}>{{ fieldset.form.std_count.errors }}{{ fieldset.form.std_count.label_tag }}</td>
            <td {% if fieldset.form.std_count.errors %} class="errors"{% endif %}>{{ fieldset.form.std_count }}</td>  
            <td {% if fieldset.form.ltd_count.errors %} class="errors"{% endif %}>{{ fieldset.form.ltd_count.errors }}{{ fieldset.form.ltd_count.label_tag }}</td>
            <td {% if fieldset.form.ltd_count.errors %} class="errors"{% endif %}>{{ fieldset.form.ltd_count }}</td>     
        </tr>
        <tr>
            <td colspan="4" class="change-header">Demographics</td>           
        </tr>
        <tr>
            <td>Address Line 1</td>
            <td>Need to Add Field</td> 
            <td>Employer URL</td>
            <td>Need to Add Field</td>           
        </tr>
        <tr>
            <td>Address Line 2</td>
            <td>Need to Add Field</td> 
            <td>Benefits URL</td>
            <td>Need to Add Field</td>            
        </tr>
        <tr>
            <td {% if fieldset.form.state.errors %} class="errors"{% endif %}>{{ fieldset.form.state.errors }}{{ fieldset.form.state.label_tag }}</td>
            <td {% if fieldset.form.state.errors %} class="errors"{% endif %}>{{ fieldset.form.state }}</td>  
            <td>Stock Symbol</td>
            <td>Need to Add Field</td>        
        </tr>
        <tr>
            <td>Zipcode</td>
            <td>Need to Add Field</td> 
            <td>AVID</td>
            <td>Need to Add Field</td>           
        </tr>
        <tr>
            <td>Phone</td>
            <td>Need to Add Field</td>
            <td>NAICS</td>
            <td>Need to Add Field</td>  
        </tr>    
      </tbody>
    </table>
</fieldset>
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            <!-- Inlines -->
            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            <div class="module aligned ">
            <h2>Employer Benefit Plans</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                    {% for item in plans %}
                        <tr>
                        <td><a href="{{item.1}}">{{ item.0 }}</a></td>
                        <td>{{item.2}}</td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>

            </div>
            <!-- Submit-Row -->
            {% block submit_buttons_bottom %}
            <div class="submit-row">
                {% if delete %}
                <p class="deletelink-box"><a href="/admin/general/life/3084/delete/" class="deletelink">Delete</a></p>
                {% endif %}
                <a href="{{ history_url }}">{% trans "History" %}</a>
                <input value="Cancel" class="warning" name="_cancel" onclick="history.go(-1);" type="button">
                <input value="Save" class="default" name="_save" type="submit">
                
                <input class="change-view-save-another" value="Save and add another" name="_addanother" type="submit">
                <input class="change-view-save-continue" value="Save and continue editing" name="_continue" type="submit">
            </div>
            {% endblock %}

            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}
