{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_urls admin_static admin_modify %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url "admin:jsi18n" as jsi18nurl %}
    <script src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
    {% if inline_admin_formsets %}
    <script src="{% static "grappelli/js/admin/Inline.js" %}"></script>
    <script src="{% static "grappelli/js/admin/CollapsedInlineFieldsets.js" %}"></script>
    {% endif %}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block coltype %}colM{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    {% url "admin:index" as admin_index_url %}
    <a href="{{ admin_index_url }}">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
    {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
    {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">
    <!-- Object-Tools -->
    {% block object-tools %}
    {% if change %}
    {% if not is_popup %}
    {% endif %}
    {% endif %}
    {% endblock %}

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            <!-- To Field Hidden Field -->
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}

            <!-- Submit-Row -->
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}

            <!-- Related-objects js that was brought in with Django 1.8 (merge from grappelli) -->
            {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $('.add-another').click(function(e) {
                            e.preventDefault();
                            showAddAnotherPopup(this);
                        });
                        $('.related-lookup').click(function(e) {
                            e.preventDefault();
                            showRelatedObjectLookupPopup(this);
                        });
                    {% if adminform and add %}
                        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                    {% endif %}
                        // highlight left panel item
                        var model_name = '{{opts.model_name}}';
                        $('.dropdown-menu-menu-bnchmrk li a').removeClass('active');
                        $('.dropdown-menu-menu-bnchmrk li a').each(function() {
                            var link = $(this).attr('href');
                            if (link.includes(model_name)) {
                                $(this).addClass('active');
                            }
                        });
                    });
                })(django.jQuery);
            </script>
            {% endblock %}

            <!-- Errors -->
            {% if errors %}
            <p class="errornote">
                {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
            <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <!-- Fieldsets -->
            {% block field_sets %}
            {% for fieldset in adminform %}
<fieldset class="module aligned ">
    <h2>{{ title }}</h2>  
    <table>
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
      <tbody>
        <tr>
            <td colspan="1" {% if fieldset.form.title.errors %} class="errors"{% endif %}>{{ fieldset.form.title.errors }}{{ fieldset.form.title.label_tag }}</td>
            <td colspan="3" {% if fieldset.form.title.errors %} class="errors"{% endif %}>{{ fieldset.form.title }}</td>
        </tr>
        <tr>
            <td {% if fieldset.form.employer.errors %} class="errors"{% endif %}>{{ fieldset.form.employer.errors }}{{ fieldset.form.employer.label_tag }}</td>
            <td {% if fieldset.form.employer.errors %} class="errors"{% endif %}>{{ fieldset.form.employer }}</td>
            <td {% if fieldset.form.type.errors %} class="errors"{% endif %}>{{ fieldset.form.type.errors }}{{ fieldset.form.type.label_tag }}</td>
            <td {% if fieldset.form.type.errors %} class="errors"{% endif %}>{{ fieldset.form.type }}</td>
        </tr>
        <tr>
            <td colspan="4" class="change-header">Benefit Amount</td>    
        </tr> 
        <tr>
            <td {% if fieldset.form.multiple.errors %} class="errors"{% endif %}>{{ fieldset.form.multiple.errors }}{{ fieldset.form.multiple.label_tag }}</td>
            <td {% if fieldset.form.multiple.errors %} class="errors"{% endif %}>{{ fieldset.form.multiple }}</td>
            <td {% if fieldset.form.flat_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.flat_amount.errors }}{{ fieldset.form.flat_amount.label_tag }}</td>
            <td {% if fieldset.form.flat_amount.errors %} class="errors"{% endif %}>{{ fieldset.form.flat_amount }}</td>                    
        </tr>
        <tr>
            <td {% if fieldset.form.multiple_max.errors %} class="errors"{% endif %}>{{ fieldset.form.multiple_max.errors }}{{ fieldset.form.multiple_max.label_tag }}</td>
            <td {% if fieldset.form.multiple_max.errors %} class="errors"{% endif %}>{{ fieldset.form.multiple_max }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" class="change-header">Cost Share & ADD</td>    
        </tr> 
        <tr>
            <td {% if fieldset.form.cost_share.errors %} class="errors"{% endif %}>{{ fieldset.form.cost_share.errors }}{{ fieldset.form.cost_share.label_tag }}</td>
            <td {% if fieldset.form.cost_share.errors %} class="errors"{% endif %}>{{ fieldset.form.cost_share }}</td>
            <td {% if fieldset.form.add.errors %} class="errors"{% endif %}>{{ fieldset.form.add.errors }}{{ fieldset.form.add.label_tag }}</td>
            <td {% if fieldset.form.add.errors %} class="errors"{% endif %}>{{ fieldset.form.add }}</td>
        </tr>
      </tbody>
    </table>
</fieldset>
            {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            <!-- Inlines -->
            {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
            {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            <!-- Submit-Row -->
            {% block submit_buttons_bottom %}
            <div class="submit-row">
                <p class="deletelink-box"><a href="/admin/general/life/3084/delete/" class="deletelink">Delete</a></p>
                <a href="{{ history_url }}">{% trans "History" %}</a>
                <input value="Cancel" class="warning" name="_cancel" onclick="history.go(-1);" type="button">
                <input value="Save" class="default" name="_save" type="submit">
                
                <input class="change-view-save-another" value="Save and add another" name="_addanother" type="submit">
                <input class="change-view-save-continue" value="Save and continue editing" name="_continue" type="submit">
            </div>
            {% endblock %}

            <!-- JS for prepopulated fields -->
            {% prepopulated_fields_js %}

        </div>
    </form>
</div>
{% endblock %}
