{% extends base_template %}
{% load humanize %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block page_content %}
<div class="benefit-content">
{% include 'includes/benefit-header.html' %}

{% if num_employers >= EMPLOYER_THRESHOLD %}

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} In-Network Deductibles</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-1" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Single Deductible *</td>
                        <td>{{ mdn_in_ded_single }}</td>
                        <td><span id="prop_in_ded_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family Deductible</td>
                        <td>{{ mdn_in_ded_family }}</td>
                        <td><span id="prop_in_ded_family"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Rx Single Deductible</td>
                        <td>{{ mdn_rx_ded_single }}</td>
                        <td><span id="prop_rx_ded_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Rx Family Deductible</td>
                        <td>{{ mdn_rx_ded_family }}</td>
                        <td><span id="prop_rx_ded_family"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_in_ded_single"></span></p>           
        </div> 
    </div>

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} In-Network Maximums</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-2" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Single Maximum *</td>
                        <td>{{ mdn_in_max_single }}</td>
                        <td><span id="prop_in_max_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family Maximum</td>
                        <td>{{ mdn_in_max_family }}</td>
                        <td><span id="prop_in_max_family"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Rx Single Maximum</td>
                        <td>{{ mdn_rx_max_single }}</td>
                        <td><span id="prop_rx_max_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Rx Family Maximum</td>
                        <td>{{ mdn_rx_max_family }}</td>
                        <td><span id="prop_rx_max_family"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_in_max_single"></span></p>           
        </div> 
    </div>

    <div class="section out-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Out-of-Network Deductibles</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-3" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Single Deductible *</td>
                        <td>{{ mdn_out_ded_single }}</td>
                        <td><span id="prop_out_ded_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family Deductible</td>
                        <td>{{ mdn_out_ded_family }}</td>
                        <td><span id="prop_out_ded_family"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Network Cross Accumulation</td>
                        <td>{{ prcnt_ded_cross }}</td>
                        <td><span id="prop_ded_cross"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_out_ded_single"></span></p>           
        </div> 
    </div>

    <div class="section out-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Out-of-Network Maximums</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-4" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Single Maximum *</td>
                        <td>{{ mdn_out_max_single }}</td>
                        <td><span id="prop_out_max_single"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family Maximum</td>
                        <td>{{ mdn_out_max_family }}</td>
                        <td><span id="prop_out_max_family"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Network Cross Accumulation</td>
                        <td>{{ prcnt_max_cross }}</td>
                        <td><span id="prop_max_cross"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_out_max_single"></span></p>           
        </div> 
    </div>

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Coinsurance</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-5" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">In-Network Coinsurance *</td>
                        <td>{{ mdn_in_coin }}</td>
                        <td><span id="prop_in_coin"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Rx Coinsurance</td>
                        <td>{{ mdn_rx_coin }}</td>
                        <td><span id="prop_rx_coin"></span></td>
                    </tr>
                    <tr class="out-benefit">
                        <td class="row-label">Out-of-Network Coinsurance</td>
                        <td>{{ mdn_out_coin }}</td>
                        <td><span id="prop_out_coin"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_in_coin"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Physician Visits</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-6" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">PCP Copay *</td>
                        <td>{{ mdn_pcp_copay }}</td>
                        <td><span id="prop_pcp_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">PCP Ded Applies</td>
                        <td>{{ prcnt_pcp_ded_apply }}</td>
                        <td><span id="prop_pcp_ded_apply"></span></td>
                    </tr> 
                    <tr>
                        <td class="row-label">PCP Coinsurance Applies</td>
                        <td>{{ prcnt_coin_pcp_ded_apply }}</td>
                        <td><span id="prop_coin_pcp_ded_apply"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Specialist Copay</td>
                        <td>{{ mdn_sp_copay }}</td>
                        <td><span id="prop_sp_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Specialist Ded Applies</td>
                        <td>{{ prcnt_sp_ded_apply }}</td>
                        <td><span id="prop_sp_ded_apply"></span></td>
                    </tr> 
                    <tr>
                        <td class="row-label">Specialist Coinsurance Applies</td>
                        <td>{{ prcnt_coin_sp_ded_apply }}</td>
                        <td><span id="prop_coin_sp_ded_apply"></span></td>
                    </tr>                
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_pcp_copay"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Emergency & Urgent Care Visits</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-7" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">ER Copay *</td>
                        <td>{{ mdn_er_copay }}</td>
                        <td><span id="prop_er_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">ER Deductible Applies</td>
                        <td>{{ prcnt_er_ded_apply }}</td>
                        <td><span id="prop_er_ded_apply"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">ER Coinsurance Applies</td>
                        <td>{{ prcnt_coin_er_ded_apply }}</td>
                        <td><span id="prop_coin_er_ded_apply"></span></td>
                    </tr> 
                    <tr>
                        <td class="row-label">UC Copay</td>
                        <td>{{ mdn_uc_copay }}</td>
                        <td><span id="prop_uc_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">UC Deductible Applies</td>
                        <td>{{ prcnt_uc_ded_apply }}</td>
                        <td><span id="prop_uc_ded_apply"></span></td>
                    </tr>  
                    <tr>
                        <td class="row-label">UC Coinsurance Applies</td>
                        <td>{{ prcnt_coin_uc_ded_apply }}</td>
                        <td><span id="prop_coin_uc_ded_apply"></span></td>
                    </tr>                   
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_er_copay"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Labs & X-Ray Services</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-8" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Labs & X-Ray Copay *</td>
                        <td>{{ mdn_lx_copay }}</td>
                        <td><span id="prop_lx_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Deductible Applies</td>
                        <td>{{ prcnt_lx_ded_apply }}</td>
                        <td><span id="prop_lx_ded_apply"></span></td>
                    </tr>  
                    <tr>
                        <td class="row-label">Coinsurance Applies</td>
                        <td>{{ prcnt_coin_lx_ded_apply }}</td>
                        <td><span id="prop_coin_lx_ded_apply"></span></td>
                    </tr>                   
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_lx_copay"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Inpatient & Outpatient Facilities</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-9" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Inpatient Copay *</td>
                        <td>{{ mdn_ip_copay }}</td>
                        <td><span id="prop_ip_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Inpatient Deductible Applies</td>
                        <td>{{ prcnt_ip_ded_apply }}</td>
                        <td><span id="prop_ip_ded_apply"></span></td>
                    </tr>  
                    <tr>
                        <td class="row-label">Inpatient Coinsurance Applies</td>
                        <td>{{ prcnt_coin_ip_ded_apply }}</td>
                        <td><span id="prop_coin_ip_ded_apply"></span></td>
                    </tr> 
                    <tr>
                        <td class="row-label">Outpatient Copay</td>
                        <td>{{ mdn_op_copay }}</td>
                        <td><span id="prop_op_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Outpatient Deductbile Applies</td>
                        <td>{{ prcnt_op_ded_apply }}</td>
                        <td><span id="prop_op_ded_apply"></span></td>
                    </tr>     
                    <tr>
                        <td class="row-label">Outpatient Coinsurance Applies</td>
                        <td>{{ prcnt_coin_op_ded_apply }}</td>
                        <td><span id="prop_coin_op_ded_apply"></span></td>
                    </tr>                   
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_ip_copay"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Tier 1 & Tier 2</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-10" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Tier 1 Retail Copay *</td>
                        <td>{{ mdn_rx1_copay }}</td>
                        <td><span id="prop_rx1_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 1 Mail Copay</td>
                        <td>{{ mdn_rx1_mail_copay }}</td>
                        <td><span id="prop_rx1_mail_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 1 Deductible Applies</td>
                        <td>{{ prcnt_rx1_ded_apply }}</td>
                        <td><span id="prop_rx1_ded_apply"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 2 Retail Copay</td>
                        <td>{{ mdn_rx2_copay }}</td>
                        <td><span id="prop_rx2_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 2 Mail Copay</td>
                        <td>{{ mdn_rx2_mail_copay }}</td>
                        <td><span id="prop_rx2_mail_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 2 Deductible Applies</td>
                        <td>{{ prcnt_rx2_ded_apply }}</td>
                        <td><span id="prop_rx2_ded_apply"></span></td>
                    </tr>                
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_rx1_copay"></span></p>           
        </div> 
    </div>

    <div class="section hdhp-benefit">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Tier 3 & Tier 4</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-11" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Tier 3 Retail Copay *</td>
                        <td>{{ mdn_rx3_copay }}</td>
                        <td><span id="prop_rx3_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 3 Mail Copay</td>
                        <td>{{ mdn_rx3_mail_copay }}</td>
                        <td><span id="prop_rx3_mail_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 3 Deductible Applies</td>
                        <td>{{ prcnt_rx3_ded_apply }}</td>
                        <td><span id="prop_rx3_ded_apply"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 4 Retail Copay</td>
                        <td>{{ mdn_rx4_copay }}</td>
                        <td><span id="prop_rx4_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 4 Mail Copay</td>
                        <td>{{ mdn_rx4_mail_copay }}</td>
                        <td><span id="prop_rx4_mail_copay"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Tier 4 Deductible Applies</td>
                        <td>{{ prcnt_rx4_ded_apply }}</td>
                        <td><span id="prop_rx4_ded_apply"></span></td>
                    </tr>                 
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_rx3_copay"></span></p>           
        </div> 
    </div>

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Employee Annual Contributions</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-12" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Employee Only *</td>
                        <td>{{ mdn_t1_ee }}</td>
                        <td><span id="prop_t1_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Spouse</td>
                        <td>{{ mdn_t2_ee }}</td>
                        <td><span id="prop_t2_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Child(ren)</td>
                        <td>{{ mdn_t3_ee }}</td>
                        <td><span id="prop_t3_ee"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family</td>
                        <td>{{ mdn_t4_ee }}</td>
                        <td><span id="prop_t4_ee"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_t1_ee"></span></p>           
        </div> 
    </div> 

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Employee Gross Cost</h4>
        </div>
        <div class="section-graph">
            <div id="MEDICAL-13" class="flot-chart"></div>
        </div>
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="quintile-subject">
                        <td class="row-label">Employee Only *</td>
                        <td>{{ mdn_t1_gross }}</td>
                        <td><span id="prop_t1_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Spouse</td>
                        <td>{{ mdn_t2_gross }}</td>
                        <td><span id="prop_t2_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Child(ren)</td>
                        <td>{{ mdn_t3_gross }}</td>
                        <td><span id="prop_t3_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family</td>
                        <td>{{ mdn_t4_gross }}</td>
                        <td><span id="prop_t4_gross"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Age-Banded Rates</td>
                        <td>{{ prcnt_age_rated }}</td>
                        <td><span id="prop_age_rated"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_t1_gross"></span></p>           
        </div> 
    </div>  

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} {% if request.session.benefit == 'HDHP ' %} HDHP {% else %} HRA {% endif %} Funding</h4>
        </div>
        <div class="section-content-left">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Benchmark</th>
                        <th>Current</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="out-benefit ppo-benefit">
                        <td class="row-label">Offer HSA</td>
                        <td>{{ prcnt_hsa }}</td>
                        <td><span id="prop_hsa"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Offer HRA</td>
                        <td>{{ prcnt_hra }}</td>
                        <td><span id="prop_hra"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee Only</td>
                        <td>{{ mdn_t1_ercdhp }}</td>
                        <td><span id="prop_t1_ercdhp"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Spouse</td>
                        <td>{{ mdn_t2_ercdhp }}</td>
                        <td><span id="prop_t2_ercdhp"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee + Child(ren)</td>
                        <td>{{ mdn_t3_ercdhp }}</td>
                        <td><span id="prop_t3_ercdhp"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Family</td>
                        <td>{{ mdn_t4_ercdhp }}</td>
                        <td><span id="prop_t4_ercdhp"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
<!--         <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_t1_ercdhp"></span></p>           
        </div>  -->
    </div>   

    <div class="section">
        <div class="section-header">
            <h4>{{ request.session.benefit }} Prevalence</h4>
        </div>
        <div class="section-content-left">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Offer PPO/POS</td>
                        <td>{{ prcnt_ppo }}</td>
                    </tr>
                    <tr>
                        <td class="row-label">Offer HMO/EPO</td>
                        <td>{{ prcnt_hmo }}</td>
                    </tr>
                    <tr>
                        <td class="row-label">Offer HDHP</td>
                        <td>{{ prcnt_hdhp }}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div class="section-content-right">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <tr>
                        <th class="row-label"></th>
                        <th>Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">No Plans Offered</td>
                        <td>{{ prcnt_plan0 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">One Plan Offered</td>
                        <td>{{ prcnt_plan1 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Two Plans Offered</td>
                        <td>{{ prcnt_plan2 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Three or More Plans Offered</td>
                        <td>{{ prcnt_plan3_or_more }}%</td>
                    </tr>
                </tbody>
            </table> 
        </div>
<!--         <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_t1_ercdhp"></span></p>           
        </div>  -->
    </div> 

    {% else %}
        {% include 'includes/too-few-employers.html' %}
    {% endif %}

</div>

<script type="text/javascript">

var gh1_data, gh2_data, gh3_data, gh4_data, gh5_data, gh6_data, gh7_data, gh8_data, gh9_data, gh10_data, gh11_data, gh12_data, gh13_data;

{% if num_employers >= EMPLOYER_THRESHOLD %}
    gh1_data = {{ quintile_in_ded_single }};
    gh2_data = {{ quintile_in_max_single }};
    gh3_data = {{ quintile_out_ded_single }};
    gh4_data = {{ quintile_out_max_single }};
    gh5_data = {{ quintile_in_coin }};
    gh6_data = {{ quintile_pcp_copay }};
    gh7_data = {{ quintile_er_copay }};
    gh8_data = {{ quintile_lx_copay }};
    gh9_data = {{ quintile_ip_copay }};
    gh10_data = {{ quintile_rx1_copay }};
    gh11_data = {{ quintile_rx3_copay }};
    gh12_data = {{ quintile_t1_ee }};
    gh13_data = {{ quintile_t1_gross }};

{% endif %}
</script>
{% endblock %}