{% extends base_template %}
{% load humanize %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block page_content %}
<div class="benefit-content">
{% include 'includes/benefit-header.html' %}

{% if num_employers >= EMPLOYER_THRESHOLD %}

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Benefit Amounts <span>(Exhibit STD1: Weekly Maximum Distribution)</span></p>
            <div id="STD-1" class="flot-chart"></div>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_weekly_max"></span></p>           
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">STD Plans</th>
                        <th>Benchmark</th>
                        <th>Current Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Weekly Maximum</td>
                        <td>${{ mdn_weekly_max|intcomma }}</td>
                        <td><span id="prop_weekly_max"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Percentage</td>
                        <td>{{ mdn_percentage }}%</td>
                        <td><span id="prop_percentage"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Salary Continuation</td>
                        <td>{{ prcnt_salary_cont }}%</td>
                        <td><span id="prop_salary_cont"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Waiting/Duration Periods <span>(Exhibit STD2: Duration Weeks Distribution)</span></p>
            <div id="STD-2" class="flot-chart"></div>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_duration_weeks"></span></p>      
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">STD Plans</th>
                        <th>Benchmark</th>
                        <th>Current Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Duration Weeks</td>
                        <td>{{ mdn_duration_weeks }}</td>
                        <td><span id="prop_duration_weeks"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Waiting Days (Injury)</td>
                        <td>{{ mdn_waiting_injury }}</td>
                        <td><span id="prop_waiting_injury"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Waiting Days (Illness)</td>
                        <td>{{ mdn_waiting_illness }}</td>
                        <td><span id="prop_waiting_illness"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Employee Cost Share<span> (Exhibits L3-L5: Cost Share Breakdown)</span></p>
            <div class="easy-pie STD-12" data-percent="{{ prcnt_paid }}">
                <div class="percent">{{ prcnt_paid }}</div>
                <div class="pie-title">100% Employer Paid Only</div>
            </div>
            <div class="easy-pie STD-13" data-percent="{{ prcnt_share }}">
                <div class="percent">{{ prcnt_share }}</div>
                <div class="pie-title">Employee Cost Share Only</div>
            </div>
            <div class="easy-pie STD-14" data-percent="{{ prcnt_paid_share }}">
                <div class="percent">{{ prcnt_paid_share }}</div>
                <div class="pie-title">Core / Buy Up</div>
            </div>
        </div>
        <div class="section-score">  
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <th class="row-label">STD Cost Share</th>
                    <th>Employers</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">100% Employer Paid Only</td>
                        <td>{{ prcnt_paid }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee Cost Share Only</td>
                        <td>{{ prcnt_share }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Core & Buy Up Plans</td>
                        <td>{{ prcnt_paid_share }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Reported</td>
                        <td>{{ prcnt_non_reported }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Offered</td>
                        <td>{{ prcnt_plan0 }}%</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>


    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">PREVALENCE<span> (Exhibit L6: Number of Plans Offered)</span></p>
            <div id="STD-18" class="flot-chart-pie"></div>
            <div class="flc-donut hidden-xs"></div>
        </div>
        <div class="section-score">  
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <tr>
                        <th class="row-label">Number of Plans Offered</th>
                        <th>Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Not Offered</td>
                        <td>{{ prcnt_plan0 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">1 Plan</td>
                        <td>{{ prcnt_plan1 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">2 Plans</td>
                        <td>{{ prcnt_plan2 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">3 or More Plans</td>
                        <td>{{ prcnt_plan3_or_more }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% else %}
        {% include 'includes/too-few-employers.html' %}
    {% endif %}

</div>

<script type="text/javascript">

var gh1_data, gh2_data, gh18_data;

{% if num_employers >= EMPLOYER_THRESHOLD %}
    gh1_data = {{ quintile_weekly_max }};
    gh2_data = {{ quintile_duration_weeks }};

    gh18_data = [
        {data: {{ prcnt_plan0 }}, color: '#F44336', label: 'Not Offered'},
        {data: {{ prcnt_plan1 }}, color: '#03A9F4', label: '1 Plan'},
        {data: {{ prcnt_plan2 }}, color: '#8BC34A', label: '2 Plans'},
        {data: {{ prcnt_plan3_or_more }}, color: '#FFEB3B', label: '3+ Plans'},
    ];

{% endif %}
</script>
{% endblock %}