{% load staticfiles %}

<div class="benefit-header">
    <div class="benefit-details">
        <h4>LIFE INSURANCE BENCHMARKING</h4>
        <h6>INDUSTRIES:&nbsp;</h6><p><span id='lbl_ft_industries'>{{ ft_industries_label }}</span></p>
        <h6>REGIONS:&nbsp;</h6><p><span id='lbl_ft_regions'>{{ ft_regions_label }}</span></p>
        <h6>HEADCOUNTS:&nbsp;</h6><p><span id='lbl_ft_headcounts'>{{ ft_head_counts_label }}</span></p>
        <h6>OTHER:&nbsp;</h6><p><span id='lbl_ft_other'>{{ ft_other_label }}</span></p>
        <p style="float: right;"><i>Reporting Date: {{ today }}</i></p>
    </div>
    <div class="client-logo">
        <img src="{% static 'img/bnchmrk_logo_stacked.jpg' %}" alt="">
    </div>
</div>