<div class="table-responsive">
    <table id="data-table-employer" class="table table-striped" data-ajax="true" data-url="/enterprise">
        <thead>
            <tr>
                <th data-column-id="name">Name</th>
                <th data-column-id="industry" data-formatter="newline">Industry</th>
                <th data-column-id="size">Headcount</th>
                <th data-column-id="region" data-formatter="newline">Region</th>
                <th data-column-id="other" data-formatter="newline">Other</th>
            </tr>
        </thead>
    </table>
</div>