{% extends 'index.html' %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link href="{% static 'vendors/bootgrid/jquery.bootgrid.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="enterprise-menu">        
        <nav class="enterprise-navbar">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="javascript:void(0);">EMPLOYERS</a></li>
                <li><a href="javascript:void(0);">PREVALENCE</a></li>
                <li><a href="javascript:void(0);">PPO</a></li>
                <li><a href="javascript:void(0);">HMO</a></li>
                <li><a href="javascript:void(0);">HSA</a></li>
                <li><a href="javascript:void(0);">HRA</a></li>
                <li><a href="javascript:void(0);">DPPO</a></li>
                <li><a href="javascript:void(0);">DMO</a></li>
                <li><a href="javascript:void(0);">VPPO</a></li>
                <li><a href="javascript:void(0);">VHMO</a></li>
                <li><a href="javascript:void(0);">LIFE</a></li>
                <li><a href="javascript:void(0);">STD</a></li>
                <li><a href="javascript:void(0);">LTD</a></li>
                <li><a href="javascript:void(0);">STRATEGY</a></li>
                <li><a href="javascript:void(0);">NOTES</a></li>
            </ul>
        </nav>
    </div>
    <div class="enterprise-control-wrapper">
        
        <div class="industry-filter">
            <label class="filter-header">Select Industry:</label>
            <select name="industry" multiple="" id="industries" class="filter-control" size="10">
                <option value="*">All</option>
                {% for item in industries %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="headcount-filter">
            <label class="filter-header">Select Headcount:</label>
            <select name="head-count" multiple="" id="head-counts" class="filter-control" size="10">
                <option value="0-2000000">All</option>
                <option value="0-249">Up to 250</option>
                <option value="250-499">250 to 499</option>
                <option value="500-999">500 to 999</option>
                <option value="1000-4999">1,000 to 4,999</option>
                <option value="5000-2000000">5,000 and Up</option>
            </select>
        </div>
        <div class="region-filter">
            <label class="filter-header">Select Region:</label>
                <select name="" multiple="" id="" class="filter-control" size="10">
                <option>All</option>
                <option>Northeast</option>
                <option>Mid-Atlantic</option>
                <option>Southeast</option>
                <option>South Central</option>
                <option>Midwest</option>
                <option>West</option>
            </select>
        </div>
        <div class="other-filter">
            <label class="filter-header">Other:</label>
            <div class="refresh_button pull-right">
                <a class="btn btn-primary" href="javascript:void(0);" onclick="refresh_body();">Refresh</a>
            </div>
        </div>
    </div>

    <div class="bnchmrk_table">
        <div class="card" id="bnchmrk_card">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/enterprise.js' %}"></script>
    <script src="{% static 'vendors/bootgrid/jquery.bootgrid.updated.min.js' %}"></script>    
{% endblock %}
