{% load humanize %}

{% if num_employers %}
<div class="section-header">
    <h4>Basic Life: Prevalence</h4>
</div>

<div class="section">
    <div class="section-content">
        <table class="table table-striped">
            <col width="45%">
            <col width="40%">
            <col width="15%">
            <thead>
                <tr>
                    <th>Number of Plans Offered</th>
                    <th>Percent of Employers</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Not Offered</td>
                    <td>{{ prcnt_plan0 }}%</td>
                    <td>{{ num_plan0 }}</td>
                </tr>
                <tr>
                    <td>1 Plan</td>
                    <td>{{ prcnt_plan1 }}%</td>
                    <td>{{ num_plan1 }}</td>
                </tr>
                <tr>
                    <td>2 Plans</td>
                    <td>{{ prcnt_plan2 }}%</td>
                    <td>{{ num_plan2 }}</td>
                </tr>
                <tr>
                    <td>3 or More Plans</td>
                    <td>{{ prcnt_plan3_or_more }}%</td>
                    <td>{{ num_plan3_or_more }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <col width="45%">
            <col width="40%">
            <col width="15%">
            <thead>
                <tr>
                    <th>Type of Plans Offered</th>
                    <th>Percent of Employers</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Not Offered</td>
                    <td>{{ prcnt_type_plan_none }}%</td>
                    <td>{{ cnt_type_plan_none }}</td>
                </tr>
                <tr>
                    <td>Multiple of Salary Plan(s) Only</td>
                    <td>{{ prcnt_type_plan_mul }}%</td>
                    <td>{{ cnt_type_plan_mul }}</td>
                </tr>
                <tr>
                    <td>Flat Amount Plan(s) Only</td>
                    <td>{{ prcnt_type_plan_flat }}%</td>
                    <td>{{ cnt_type_plan_flat }}</td>
                </tr>
                <tr>
                    <td>Both Multiple of Salary & Flat Amount Plans</td>
                    <td>{{ prcnt_type_plan_mul_flat }}%</td>
                    <td>{{ cnt_type_plan_mul_flat }}</td>
                </tr>
            </tbody>
        </table>  
    </div>
    <div class="section-graph">
        <p class="exhibit-text">Exhibit L1: Number of Plans Offered</p>
        <div id="L-1" class="flot-chart"></div>
    </div>
</div>

<div class="section-header">
    <h4>Basic Life: Cost Share</h4>
</div>

<div class="section">
    <div class="section-content">
        <table class="table table-striped">
            <col width="45%">
            <col width="40%">
            <col width="15%">
            <thead>
                <th>Cost Share</th>
                <th>Percent of Employers</th>
                <th>Count</th>
            </thead>
            <tbody>
                <tr>
                    <td>Not Offered</td>
                    <td>{{ prcnt_type_plan_none }}%</td>
                    <td>{{ cnt_type_plan_none }}</td>
                </tr>
                <tr>
                    <td>100% Employer Paid Only</td>
                    <td>{{ prcnt_paid }}%</td>
                    <td>{{ cnt_paid }}</td>
                </tr>
                <tr>
                    <td>Employee Cost Share Only</td>
                    <td>{{ prcnt_share }}%</td>
                    <td>{{ cnt_share }}</td>
                </tr>
                <tr>
                    <td>100% Employer Paid & Employee Cost Share</td>
                    <td>{{ prcnt_paid_share }}%</td>
                    <td>{{ cnt_paid_share }}</td>
                </tr>
            </tbody>
        </table>  
    </div>
    <div class="section-graph">
        <p class="exhibit-text">Exhibit L2-L4: Cost Share</p>
        <div class="easy-pie L-2" data-percent="{{ prcnt_paid }}">
            <div class="percent">{{ prcnt_paid }}</div>
            <div class="pie-title">100% Employer Paid Only</div>
        </div>
        <div class="easy-pie L-3" data-percent="{{ prcnt_share }}">
            <div class="percent">{{ prcnt_share }}</div>
            <div class="pie-title">Employee Cost Share Only</div>
        </div>
        <div class="easy-pie L-4" data-percent="{{ prcnt_paid_share }}">
            <div class="percent">{{ prcnt_paid_share }}</div>
            <div class="pie-title">Core / Buy Up</div>
        </div>
    </div>
</div>

<div class="section-header">
    <h4>Basic Life: Flat Amount Plans</h4>
</div>

<div class="section">
    <div class="section-content">
        <table class="table table-striped">
            <col width="45%">
            <col width="40%">
            <col width="15%">
            <thead>
                <tr>
                    <th>Flat Amount Values</th>
                    <th>Percent of Plans</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Median Flat Amount</td>
                    <td>${{ mdn_flat_amount|intcomma }}</td>
                    <td>{{ cnt_flat_amount }}</td>
                </tr>
                <tr>
                    <td>Flat Amount <$10k</td>
                    <td>{{ flat_array_.0.0 }}</td>
                    <td>{{ flat_array_.0.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $10k to $20k</td>
                    <td>{{ flat_array_.1.0 }}</td>
                    <td>{{ flat_array_.1.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $20k and $30k</td>
                    <td>{{ flat_array_.2.0 }}</td>
                    <td>{{ flat_array_.2.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $30k and $40k</td>
                    <td>{{ flat_array_.3.0 }}</td>
                    <td>{{ flat_array_.3.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $40k and $50k</td>
                    <td>{{ flat_array_.4.0 }}</td>
                    <td>{{ flat_array_.4.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $50k and $60k</td>
                    <td>{{ flat_array_.5.0 }}</td>
                    <td>{{ flat_array_.5.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $60k and $70k</td>
                    <td>{{ flat_array_.6.0 }}</td>
                    <td>{{ flat_array_.6.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $70k and $80k</td>
                    <td>{{ flat_array_.7.0 }}</td>
                    <td>{{ flat_array_.7.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $80k and $90k</td>
                    <td>{{ flat_array_.8.0 }}</td>
                    <td>{{ flat_array_.8.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $90k and $100k</td>
                    <td>{{ flat_array_.9.0 }}</td>
                    <td>{{ flat_array_.9.1 }}</td>
                </tr>
                <tr>
                    <td>Flat Amount $100k+</td>
                    <td>{{ flat_array_.10.0 }}</td>
                    <td>{{ flat_array_.10.1 }}</td>
                </tr>
                <tr>
                    <td>With ADD</td>
                    <td>{{ prcnt_add }}</td>
                    <td>{{ cnt_add }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section-graph">
        <p class="exhibit-text">Exhibit L5: Flat Amount Plans</p>
        <div id="L-5" class="flot-chart"></div>
    </div>
</div>

<div class="section-header">
    <h4>Basic Life: Multiple of Salary Plans</h4>
</div>

<div class="section">
    <div class="section-content">
        <table class="table table-striped">
            <col width="45%">
            <col width="40%">
            <col width="15%">
            <thead>
                <tr>
                    <th>Plan Type</th>
                    <th>Median Value</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Multiple of Salary</td>
                    <td>{{ mdn_multiple }}</td>
                    <td>{{ cnt_multiple }}</td>
                </tr>
                <tr>
                    <td>Multiple Maximum</td>
                    <td>${{ mdn_multiple_max|intcomma }}</td>
                    <td>{{ cnt_multiple_max }}</td>
                </tr>
                <tr>
                    <td>With ADD</td>
                    <td>{{ prcnt_add }}</td>
                    <td>{{ cnt_add }}</td>
                </tr>
            </tbody>
        </table>  
    </div>
    <div class="section-graph">
        <p class="exhibit-text">Exhibit L6: Multiple of Salary Plans</p>
    </div>
</div>

{% else %}
<p class="threshold-error">{{ EMPLOYER_THRESHOLD_MESSAGE }}</p>
{% endif %}

<script type="text/javascript">
    var barData = [{
            data : [['Not Offered',{{ prcnt_plan0 }}], ['1 Plan',{{ prcnt_plan1 }}], ['2 Plans',{{ prcnt_plan2 }}], ['3+ Plans',{{ prcnt_plan3_or_more }}]],
            bars : {
                show : true,
                barWidth : 0.36,
                order : 1,
                lineWidth: 0,
                fillColor: '#8BC34A',
                align: "center"
            }
        }];    

    var flatData = [{
            data : {{ flat_array }},
            bars : {
                show : true,
                barWidth : 0.36,
                order : 1,
                lineWidth: 0,
                fillColor: '#8BC34A'
            }
        }];    

        
</script>