{% load humanize %}

{% if num_employers %}
<div class="plan-header">
    
</div>
<table class="table">
    <tbody>
        <tr>
            <td>
                <p>Number of Plans Offered</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>% of Employers</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>None</td>
                            <td>{{ prcnt_plan0 }}%</td>
                            <td>{{ num_plan0 }}</td>
                        </tr>
                        <tr>
                            <td>1 Plan</td>
                            <td>{{ prcnt_plan1 }}%</td>
                            <td>{{ num_plan1 }}</td>
                        </tr>
                        <tr>
                            <td>2 Plans</td>
                            <td>{{ prcnt_plan2 }}%</td>
                            <td>{{ num_plan2 }}</td>
                        </tr>
                        <tr>
                            <td>3 or More Plans</td>
                            <td>{{ prcnt_plan3_or_more }}%</td>
                            <td>{{ num_plan3_or_more }}</td>
                        </tr>
                    </tbody>
                </table>              
            </td>
            <td>
                <div id="bar-chart" class="flot-chart"></div>
                <!-- <div class="flc-bar"></div> -->
            </td>
        </tr>
        <tr>
            <td>
                <p>Plan Types</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>% of Life Plans</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Multiple of Salary Plans</td>
                            <td>{{ prcnt_type }}%</td>
                            <td>{{ cnt_type }}</td>
                        </tr>
                        <tr>
                            <td>Flat Amount Plans</td>
                            <td>{{ prcnt_type_ }}</td>
                            <td>{{ cnt_type_ }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <div class="easy-pie sub-pie-2" data-percent="{{ prcnt_type }}">
                    <div class="percent">{{ prcnt_type }}</div>
                    <div class="pie-title">Multiple of Salary Plans</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>Flat Amount Plans</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>Median</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Flat Amount</td>
                            <td>${{ mdn_flat_amount|intcomma }}</td>
                            <td>{{ cnt_flat_amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <div id="flat-amount-chart" class="flot-chart"></div>
            </td>
        </tr>
        <tr>
            <td>
                <p>Multiple of Salary Plans</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>Median</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Multiple Factor</td>
                            <td>{{ mdn_multiple }}</td>
                            <td>{{ cnt_multiple }}</td>
                        </tr>
                        <tr>
                            <td>Multiple Maximum</td>
                            <td>${{ mdn_multiple_max|intcomma }}</td>
                            <td>{{ cnt_multiple_max }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <p>Cost Share</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>% of Life Plans</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100% Employer Paid</td>
                            <td>{{ prcnt_cost_share }}%</td>
                            <td>{{ cnt_cost_share }}</td>
                        </tr>
                        <tr>
                            <td>Employee Cost Share</td>
                            <td>{{ prcnt_cost_share_ }}</td>
                            <td>{{ cnt_cost_share_ }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <div class="easy-pie sub-pie-1" data-percent="{{ prcnt_cost_share }}">
                    <div class="percent">{{ prcnt_cost_share }}</div>
                    <div class="pie-title">100% Employer Paid</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>ADD Included?</p>
            </td>
            <td>
                <table class="table table-striped">
                    <thead>
                        <td></td>
                        <td>% of Life Plans</td>
                        <td>n</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>With ADD</td>
                            <td>{{ prcnt_add }}</td>
                            <td>{{ cnt_add }}</td>
                        </tr>
                        <tr>
                            <td>Without ADD</td>
                            <td>{{ prcnt_add_ }}</td>
                            <td>{{ cnt_add_ }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

{% else %}
    <p class="threshold-error">{{ EMPLOYER_THRESHOLD_MESSAGE }}</p>
{% endif %}

<script type="text/javascript">
    var barData = [{
            data : [['None',{{ prcnt_plan0 }}], ['1 Plan',{{ prcnt_plan1 }}], ['2 Plans',{{ prcnt_plan2 }}], ['3 or More Plans',{{ prcnt_plan3_or_more }}]],
            bars : {
                show : true,
                barWidth : 0.36,
                order : 1,
                lineWidth: 0,
                fillColor: '#8BC34A'
            }
        }];    

    var flatData = [{
            data : {{ flat_array }},
            bars : {
                show : true,
                barWidth : 0.36,
                order : 1,
                lineWidth: 0,
                fillColor: '#8BC34A'
            }
        }];    

        
</script>