{% extends base_template %}
{% load humanize %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block page_content %}
<div class="benefit-content">

    <div class="benefit-header">
        <div class="benefit-details">
            <h4>LIFE INSURANCE BENCHMARKING</h4>
            <h6>INDUSTRIES:&nbsp;</h6><p><span id='lbl_ft_industries'>{{ ft_industries_label }}</span></p>
            <h6>REGIONS:&nbsp;</h6><p><span id='lbl_ft_regions'>{{ ft_regions_label }}</span></p>
            <h6>HEADCOUNTS:&nbsp;</h6><p><span id='lbl_ft_headcounts'>{{ ft_head_counts_label }}</span></p>
            <h6>OTHER:&nbsp;</h6><p><span id='lbl_ft_other'>{{ ft_other_label }}</span></p>
            <p style="float: right;"><i>Reporting Date: {{ today }}</i></p>
        </div>
        <div class="client-logo">
            <img src="{% static 'img/bnchmrk_logo_stacked.jpg' %}" alt="">
        </div>
    </div>

{% if num_employers >= EMPLOYER_THRESHOLD %}

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Multiple of Salary Plans <span>(Exhibit L1: Maximum Benefit Distribution)</span></p>
            <div id="L-1" class="flot-chart"></div>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_multiple"></span></p>           
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">Salary-Based Plans</th>
                        <th>Benchmark</th>
                        <th>Client Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Maximum Benefit</td>
                        <td>${{ mdn_multiple_max|intcomma }}</td>
                        <td><span id="prop_multiple_max"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">Multiple of Salary</td>
                        <td>{{ mdn_multiple }}</td>
                        <td><span id="prop_multiple"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">ADD Included</td>
                        <td>{{ prcnt_add_multiple }}</td>
                        <td><span id="prop_add_multiple"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Flat Amount Plans <span>(Exhibit L2: Flat Benefit Distribution)</span></p>
            <div id="L-2" class="flot-chart"></div>
        </div>
        <div class="section-score">
            <h5>Q-SCORE</h5>
            <p><span id="prop_rank_flat"></span></p>      
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="50%">
                <col width="25%">
                <col width="25%">
                <thead>
                    <tr>
                        <th class="row-label">Flat Amount Plans</th>
                        <th>Benchmark</th>
                        <th>Client Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Flat Benefit</td>
                        <td>${{ mdn_flat_amount|intcomma }}</td>
                        <td><span id="prop_flat_amount"></span></td>
                        <td><span id="prop_rank_flat"></span></td>
                    </tr>
                    <tr>
                        <td class="row-label">ADD Included</td>
                        <td>{{ prcnt_add_flat }}</td>
                        <td><span id="prop_add_flat"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">Employee Cost Share<span> (Exhibits L3-L5: Cost Share Breakdown)</span></p>
            <div class="easy-pie L-12" data-percent="{{ prcnt_paid }}">
                <div class="percent">{{ prcnt_paid }}</div>
                <div class="pie-title">100% Employer Paid Only</div>
            </div>
            <div class="easy-pie L-13" data-percent="{{ prcnt_share }}">
                <div class="percent">{{ prcnt_share }}</div>
                <div class="pie-title">Employee Cost Share Only</div>
            </div>
            <div class="easy-pie L-14" data-percent="{{ prcnt_paid_share }}">
                <div class="percent">{{ prcnt_paid_share }}</div>
                <div class="pie-title">Core / Buy Up</div>
            </div>
        </div>
        <div class="section-score">  
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <th class="row-label">Life Insurance Cost Share</th>
                    <th>Employers</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">100% Employer Paid Only</td>
                        <td>{{ prcnt_paid }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Employee Cost Share Only</td>
                        <td>{{ prcnt_share }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Core & Buy Up Plans</td>
                        <td>{{ prcnt_paid_share }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Reported</td>
                        <td>{{ prcnt_non_reported }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Offered</td>
                        <td>{{ prcnt_type_plan_none }}%</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>


    <div class="section">
        <div class="section-graph">
            <p class="exhibit-text">PREVALENCE<span> (Exhibit L6: Number of Plans Offered)</span></p>
            <div id="L-18" class="flot-chart-pie"></div>
            <div class="flc-donut hidden-xs"></div>
        </div>
        <div class="section-score">  
        </div> 
        <div class="section-content">
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <tr>
                        <th class="row-label">Number of Plans Offered</th>
                        <th>Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Not Offered</td>
                        <td>{{ prcnt_plan0 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">1 Plan</td>
                        <td>{{ prcnt_plan1 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">2 Plans</td>
                        <td>{{ prcnt_plan2 }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">3 or More Plans</td>
                        <td>{{ prcnt_plan3_or_more }}%</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-content">
                <col width="60%">
                <col width="40%">
                <thead>
                    <tr>
                        <th class="row-label">Plan Types Offered</th>
                        <th>Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row-label">Salary-Based Plans Only</td>
                        <td>{{ prcnt_type_plan_mul }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Flat Plans Only</td>
                        <td>{{ prcnt_type_plan_flat }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Both Multiple & Flat Plans</td>
                        <td>{{ prcnt_type_plan_mul_flat }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Reported</td>
                        <td>{{ prcnt_type_non_reported }}%</td>
                    </tr>
                    <tr>
                        <td class="row-label">Not Offered</td>
                        <td>{{ prcnt_type_plan_none }}%</td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>

    {% else %}
    <div class="benefit-error">
        <p class="threshold-error">{{ EMPLOYER_THRESHOLD_MESSAGE }}</p>
    </div>
    {% endif %}

</div>

<script type="text/javascript">

var l1_data, l2_data, l18_data;

{% if num_employers >= EMPLOYER_THRESHOLD %}
    l1_data = {{ quintile_array_multiple }};
    l2_data = {{ quintile_array_flat }};

    l18_data = [
        {data: {{ prcnt_plan0 }}, color: '#F44336', label: 'Not Offered'},
        {data: {{ prcnt_plan1 }}, color: '#03A9F4', label: '1 Plan'},
        {data: {{ prcnt_plan2 }}, color: '#8BC34A', label: '2 Plans'},
        {data: {{ prcnt_plan3_or_more }}, color: '#FFEB3B', label: '3+ Plans'},
    ];

{% endif %}
</script>
{% endblock %}