{% extends 'index.html' %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link href="{% static 'vendors/bootgrid/jquery.bootgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/enterprise.css' %}" rel="stylesheet">

<style type="text/css">
    body {margin-top: 0;}
</style>
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="bnchmrk_table">
        <div class="card" id="bnchmrk_card">
        {% block page_content %}
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block page_loader %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var EMPLOYER_THRESHOLD_MESSAGE = "{{ EMPLOYER_THRESHOLD_MESSAGE }}";
        var benefit = '{{ request.session.benefit }}';
        var print_template = true;
    </script>
    <script src="{% static 'vendors/bower_components/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'vendors/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'vendors/bootgrid/jquery.bootgrid.updated.min.js' %}"></script> 
    <script src="{% static 'vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>   
    <script src="{% static 'js/enterprise.js' %}"></script>
    <script src="{% static 'js/flot-charts/pie-chart.js' %}"></script>
    <script src="{% static 'js/flot-charts/bar-chart.js' %}"></script>
{% endblock %}
